<article id="js-cart-list" class="popup popup--cart  cart  shaded shaded--brand">
    <button id="js-close-popup" class="icon popup__close">
        <span class="icon icon--close">
          {% include '/static/images/svgs/x.svg' %}
        </span>
    </button>

    <header class="popup__header">
        <h1 class="h1">SHOPPING CART</h1>
    </header>

    <section class="table table--cart">
        <div class="table__row cart__header">
            <div class="table__column table__column--qty">
                <p class="h3">QTY</p>
            </div>
            <div class="table__column table__column--ticket">
                <p class="h3">TICKET</p>
            </div>
            <div class="table__column table__column--price">
                <p class="h3">PRICE</p>
            </div>
        </div>

        <div class="table__row cart__item">
            <div class="table__column table__column--qty">
                <button class="js-increase-qty">
                    <span class="icon icon--arrow-up">
                        {% include '/static/images/svgs/arrow.svg' %}
                    </span>
                </button>
                <p class="h3"></p>
                <button class="js-decrease-qty">
                    <span class="icon icon--arrow-down">
                        {% include '/static/images/svgs/arrow.svg' %}
                    </span>
                </button>
            </div>
            <div class="table__column table__column--ticket">
                <p class="h3"></p>
            </div>
            <div class="table__column table__column--price">
                <p class="h3"></p>
            </div>
        </div>

        <div class="table__row cart__empty cart__header">
            The cart is currently empty.
        </div>

        <div class="table__row cart__total">
            <p class="h3">
                TOTAL: <span id="js-cart-total-price" class="enlarge"></span>
                <a href="#" id="js-launch-eztix" class="button button--blue external-link">GET TICKETS</a>
            </p>
        </div>
    </section>
</article>