<h2 class="h2  section-title container container--with-padding">CHECK OUT SOME OF OUR FEATURED TICKETS</h2>
<div class="owl-carousel  grid--equal-heights" data-responsive="true">
  {% for post in featured_events %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
  {% endfor %}
</div>