<article class="quote media-box media-box--m-left">
  {% include '/static/images/svgs/quote.svg' %}
  <div class="media-box__content">
    <p class="h4">OUR FRIENDS LOVE US</p>

    {% set quote_to_display = random(homepage_quotes) %}

    <p>{{ quote_to_display.quote }}</p>
    {% if quote_to_display.source %}
    <p class="byline small">- {{ quote_to_display.source }}</p>
    {% endif %}
  </div>
</article>

<article class="tweet media-box media-box--m-left">
  {% include '/static/images/svgs/twitter.svg' %}
  <div class="media-box__content">
    <p class="h4">MENTION US ON TWITTER @euphoriaGVL</p>
    {{ fn('do_shortcode', '[ap-twitter-feed]') }}

    <p class="byline">Use <span class="bold">#euphoriaGVL</span> to let us<br/>know how excited you are for this year.</p>
  </div>
</article>
