<nav class="main-navigation">
  <ul class="nav nav--site">
  {% for item in menu.get_items %}
    <li class="{{ active_class }} {{item.classes | join(' ')}}">
      <a href="{{item.get_link}}"><span>{{ item.title }}</span></a>
    </li>
  {% endfor %}
  </ul>
</nav>