*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @extend %verlag--book;
  color: $euphoria-blue;
  font-size: $base-font-size*1px;

  &:after {
    background: $white;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: 200ms height ease;
    z-index: 0;

    @include mq(tablet) {
      display: none;
    }
  }

  &.logged-in {
    &:after {
      top: 32px;
    }
  }

  &.nav-is-open {
    overflow: hidden;

    &:after {
      height: 70px;
    }
  }
}

.shaded {
  &--white {
    background: $white;
  }

  &--grey {
    background: $lightest-grey;
  }

  &--dark-grey {
    background: $light-grey;
  }

  &--brand {
    background: $euphoria-blue;
    color: $white;
  }

  &--secondary {
    background: $euphoria-dark-blue;
    color: $white;
  }
}

.section {
  &-title {
    text-align: center;
  }

  &__header {
    margin-bottom: $spacer*1px;

    .h1 {
      color: $euphoria-dark-blue;
      font-size: calc(24em/16);
    }

    .h1 + p {
      margin-top: $spacer*0.5px;
    }

    p {
      @extend %verlag--bold;
      font-size: #{$spacer}px;
    }

    @include mq(two-col) {
      width: 50%;
    }
  }
}
