.w {
  &-75 {
    @include mq(tablet) {
      width: 75%;
    }
  }
}

$grid: grid;

.#{$grid} {
  @include mq(two-col) {
    display: flex;
    flex-wrap: wrap;

    &--space-between {
      justify-content: space-between;
    }
  }

  &--halves {
    .#{$grid}__item {
      @include mq(desktop) {
        flex: 0 1 49%;

        &:nth-child(odd) {
          margin: 0 auto auto 0;
        }

        &:nth-child(even) {
          margin: 0 0 auto auto;
        }
      }
    }
  }

  &--thirds {
    .#{$grid}__item {
      @include mq(two-col) {
        margin-bottom: #{$spacer*3px};
        max-width: 324px;
        width: calc(50% - #{$spacer*0.5px});
      }

      @include mq(tablet) {
        $a-third: percentage(1/3);
        width: calc(#{$a-third} - #{$spacer*0.5px});
      }
    }

    &.tpb {
      .#{$grid}__item {
        @include mq(tablet) {
          width: calc(50% - #{$spacer*0.5px});
        }

        @include mq(desktop) {
          $a-third: percentage(1/3);
          width: calc(#{$a-third} - #{$spacer*0.5px});
        }
      }
    }
  }

  &--quarters {
    flex-wrap: wrap;
    justify-content: space-between;

    .#{$grid}__item {
      margin-bottom: $spacer*1px;
    }

    @include mq(one-col) {
      .#{$grid}__item {
        width: calc(50% - #{$spacer*0.5px});
      }
    }

    @include mq(tablet) {
      .#{$grid}__item {
        width: calc(33.33% - #{$spacer*0.5px});
      }
    }

    @include mq(desktop) {
      .#{$grid}__item {
        width: calc(25% - #{$spacer*0.5px});
      }
    }
  }

  &--fifths {
    align-items: center;
    flex-wrap: wrap;

    .#{$grid}__item {
      margin-bottom: $spacer*1px;
    }

    @include mq(one-col) {
      .#{$grid}__item {
        width: calc(50% - #{$spacer*0.5px});
      }
    }

    @include mq(tablet) {
      .#{$grid}__item {
        width: calc(33.33% - #{$spacer*0.5px});
      }
    }

    @include mq(desktop) {
      .#{$grid}__item {
        width: calc(20% - #{$spacer*0.5px});
      }
    }
  }

  &--fit {
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: $spacer*1px;
    width: 100%;

    .owl-carousel & {
      margin-bottom: 0;
    }

    @include mq(tablet) {
      margin-bottom: 0;

      &.card {
        &:not(:only-child) {
          margin-bottom: $spacer*1px;
        }
      }
    }

    .sponsors & {
      @include mq(one-col) {
        flex: 0 0 75%;
        margin: auto;
      }
    }

    &--with-space {
      padding: 10px;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
