.container {
  @extend .clearfix;
  margin: 0 auto;
  max-width: $max-width*1px;
  // width: 95%;

  &--with-padding {
    padding: #{$spacer}px;
  }

  &.back-link {
    + .container {
      margin-top: 0;
    }
  }

  & + & {
    margin-top: 2.5em;
  }
}

.section {
  padding: $spacer*1.5px 0;

  @include mq(tablet) {
    padding: $spacer*1px 0 $spacer*2px;
  }

  @include mq(desktop) {
    padding: $spacer*2.25px 0 $spacer*4px;
  }
}

.article {
  @extend .clearfix;

  &__sidebar {
    margin-top: $spacer*2px;
    position: relative;
  }

  @include mq(tablet) {
    &__main {
      border-right: 6px solid $white;
      float: left;
      padding-right: calc(95px + #{$spacer*1px});
      width: percentage(650/1080);
    }

    &__sidebar {
      float: left;
      margin-top: 0;
      top: $spacer*-1px;
      width: percentage((1080-650)/1080);
    }
  }

  @include mq(desktop) {
    &__main {
      width: percentage(775/1080);
    }

    &__sidebar {
      width: percentage((1080-775)/1080);
    }
  }
}




