.faq {
  .container {
    > div:not([class]) {
      margin-top: $spacer*2px;
      padding: 0 $spacer*2px;

      &:first-of-type {
        margin-top: $spacer*2.5px;
      }

      &:last-of-type {
        margin-bottom: $spacer*2.5px;
      }
    }
  }

  h2:not([class]) {
    color: $euphoria-dark-blue;
    margin-bottom: $spacer*0.5px;
    text-transform: uppercase;
  }

  p {
    font-size: 1.15em;
    a {
      color: $euphoria-dark-blue;
      text-decoration: underline;
    }

    + h2 {
      margin-top: $spacer*1px;
    }
  }
}

.quote,
.tweet {
  margin: 0 auto;

  @include mq(tablet) {
    display: inline-block;
    padding: 0;
    width: 45%;
    vertical-align: top;
  }

  .h4 {
    color: $dark-grey;
  }

  p:not([class]),
  .aptf-tweet-content {
    @extend %verlag--black;
    color: $euphoria-blue;
  }

  .byline {
    color: $euphoria-blue;
    margin-top: $spacer*2px;
  }
}

.quote {
  @include mq(tablet) {
    border-right: 1px solid $dark-grey;
    margin-right: $spacer*3px;
    max-width: 450px;
    padding-right: $spacer*3px;
    padding-left: $spacer*1.5px;
  }

  p:not([class]) {
    font-size: 24px;
    line-height: calc(29/24);
  }
}

.tweet {
  @include mq(tablet) {
    max-width: 505px;
    padding-right: $spacer*1.5px;
  }

  p:not([class]),
  .aptf-tweet-content {
    font-size: 18px;
    line-height: calc(29/18);
  }
}

$social: social;

.#{$social} {
  @extend .clearfix;
  text-align: center;

  span, &__link {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    @extend %verlag--black;
    color: $euphoria-dark-blue;
    font-size: 18px;
    margin-right: $spacer*0.5px;
  }

  &__svg {
    height: 24px;
    width: 24px;
  }

  &__link {

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    &.twitter { margin-right: 3px; }

    &:hover,
    &:focus {
      .#{$social}__svg {
        fill: $euphoria-dark-blue;
      }
    }
  }

  &__svg {
    fill: white;
  }
}

.supporter-callout {
  text-align: center;

  @include mq(one-col) {
    padding: $spacer*2.5px 5%;
  }

  @include mq(two-col) {
    padding: $spacer*5px 5%;
  }

  .h2 {
    line-height: 1.5;

    @include mq(one-col) {
      margin-top: $spacer*1px;
    }

    @include mq(two-col) {
      margin-top: $spacer*1px;
    }
  }

  a {
    border-bottom: 1px solid;
    padding-bottom: 2px;

    @include mq(one-col) {
      font-size: 18px;
    }

    @include mq(two-col) {
      font-size: 24px;
    }
  }
}

.location,
.address {
  position: relative;
}

.accomodations__dt-hotels {
  .h2 {
    margin-bottom: $spacer*0.5px;
  }
}

.address {
  margin-bottom: $spacer*2px;

  @include mq(one-col) {
    padding-left: $spacer*2px;
  }


  a {
    color: $euphoria-blue;
  }

  p {
    @extend %verlag--bold;
    color: $dark-grey;
    font-size: 18px;
    margin: 0;
  }
}

.accomodations {

  &__map {
    img {
      margin: $spacer*1px auto;
    }
  }

  &__addresses {
    @include mq(two-col) {
      .address {
        margin-left: 34px;
      }
    }

    @include mq(tablet) {
      .address {
        margin-left: 0;
      }
    }
  }

  &__dt-hotels {
    @include mq(two-col) {
      .address {
        width: 100%;
      }
    }

    @include mq(tablet) {
      margin-top: $spacer*7px;

      .address {
        width: 50%;
      }
    }
  }

  @include mq(tablet) {
    padding-right: $spacer*1px;

    &__map {
      float: right;
      margin-left: $spacer*2px;
      width: 50%;

      img {
        margin: 0;
        width: 100%;
      }
    }

    &__addresses {
      .grid { width: 100%; }
    }
  }
}

.charitable-partners {
  width: 100%;
  text-align: center;

  img {
    height: auto;
    max-width: 65%;
    margin: $spacer*1px auto 0;
    width: auto;
  }
}

@include mq(tablet) {
  .charity {
    padding-right: $spacer*2px;
  }

  .charitable-partners {
    padding-right: $spacer*4px;
    padding-left: $spacer*2px;
  }
}

.dollars-given {
  @extend %verlag--black;
  display: block;
  font-size: 3.5vw;
  margin-top: $spacer*4px;
  text-transform: uppercase;
  width: 100%;

  p {
    margin: 0;
  }

  .text {
    color: $euphoria-dark-blue;
  }

  .dollars {
    font-size: 500%;
    line-height: 1;
    margin-bottom: 10px;
  }

  @include mq(tablet) {
    font-size: 14px;
    margin-top: $spacer*4px;
  }

  @include mq(desktop) {
    font-size: 12px;
  }

  @include mq(full) {
    font-size: 20px;
  }
}

.staff {
  padding: $spacer*1px;

  .staff-members {
    @extend .clearfix;
  }

  header {
    margin-bottom: $spacer*2px;
  }

  .card {
    background: $lightest-grey !important;
    float: left;

    @media screen and (max-width: 899px) {
      + .card {
        margin-top: $spacer*1px;
      }
    }

    .list {
      &__item {
        color: $euphoria-blue;
        margin-top: $spacer*0.5px;

        strong {
          color: $euphoria-dark-blue;
          display: block;

          @include mq(full) {
            display: inline-block;
          }
        }
      }
    }

    @include mq(desktop) {
      margin-bottom: $spacer*1.5px;
      width: calc(50% - #{$spacer}*0.5px);

      &:nth-child(odd) {
        margin-right: $spacer*0.5px;
      }

      &.card--landscape {
        .card__image {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          width: 100%;
          height: 0;
          padding-top: 100%;

          background-position: center top;
        }

        .card__content {
          margin-left: auto;
          width: 100%;
        }
      }
    }

    // @include mq(full) {
    //   &.card--landscape {
    //     .card__image {
    //       height: auto;
    //       position: absolute;
    //       top: 0;
    //       bottom: 0;
    //       left: 0;
    //       width: percentage(216/525);
    //     }

    //     .card__content {
    //       margin-left: percentage(216/525);
    //       width: percentage((525-216)/525);
    //     }
    //   }
    // }
  }

  @include mq(tablet) {
    padding: 0 $spacer*4px $spacer*2px 0;
  }
}

.board-of-directors {
  .h3 {
    margin: $spacer*3px auto $spacer*1px;
  }
}

.ingredient {
  @extend %verlag--bold;
  border-bottom: 1px solid $light-grey;
  display: flex;
  margin-top: $spacer*0.33px;
  padding-bottom: $spacer*0.33px;

  &__amount {
    color: $euphoria-blue;
    width: $spacer*3px;
  }
}

.board-of-directors {
  .list__item {
    width: 100%;

    @include mq(tablet) {
      width: calc(50% - 4px);
    }
  }
}

.sponsors,
.featured-supporters {
  text-align: center;

  a {
    display: block;
  }

  p {
    @extend %verlag--black;
    margin-top: $spacer*0.5px;
  }

  img {
    height: auto;
    margin: 0 auto;
    padding: 0 $spacer*0.5px;
    width: auto;
    max-width: 100%;
  }
}

.sponsors {
  .grid {
    align-items: center;
  }

  img {
    max-height: $spacer*4.5px;
  }
}

.featured-supporters {
  img {
    padding: 0;
  }
}

.post-type-archive-supporters {
  .grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .grid__item {
    display: block;
    padding: 0 $spacer*0.5px;

    @media screen and (max-width: 499px) {
      width: 50%;
    }

    @include mq(one-col) {
      margin: $spacer*0.5px 0;
    }

    @include mq(tablet) {
      padding: 0 $spacer*2px;
    }

    img {
      mix-blend-mode: multiply;
    }

    &[href*="thescoutguide"] {
      img {
        mix-blend-mode: inherit;
      }
    }
  }
}

.talent-events {
  margin-top: $spacer*2px;

  a {
    color: $euphoria-blue;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $euphoria-dark-blue;
    }
  }

  @include mq(tablet) {
    margin-top: $spacer*4px;
  }
}

.featured-events {
  margin: {
    top: 0;
    right: auto;
    bottom: 2em;
    left: auto;
  }
}

.jumbo {
  color: #afafaf;
  font-size: 130%;
  margin-bottom: -$spacer * 0.5px;
  text-transform: uppercase;
  width: 60%;
  line-height: 0.9;
  margin-bottom: 1.25rem;
}

.view-all {
  background: white;
  border: $euphoria-dark-blue solid 3px;
  color: $euphoria-dark-blue;
  display: block;
  padding: 0.5em 0.75em;
  font-size: 60%;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;

  &:after {
    content: '';
    box-shadow: 0 4px 4px rgba($euphoria-dark-blue, 0.35);
    position: absolute;
    top: 0;
    left: -3px;
    width: calc(100% + 6px);
    height: 100%;
    opacity: 0;
    transition: 200ms ease-in-out all;
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }
  }
}

.date {
  color: white;
  margin-top: 0;
}

.myc {
  color: $euphoria-dark-blue;
  font-size: 75%;
}

.meantime {
  &__line {
    color: $euphoria-dark-blue;
    font-size: 40%;
    max-width: 25em;
    margin: ($spacer * 1px)/2 auto;
    text-transform: uppercase;
    width: 90%;
  }

  &__list {
    display: flex;
    justify-content: center;

    li {
      margin: {
        left: $spacer * 0.5px;
        right: $spacer * 0.5px;
      }
    }

    .icon {
      &:hover,
      &:focus {
        svg {
          fill: $euphoria-dark-blue;
        }
      }
    }

    svg {
      fill: $white;

      @include mq(one-col) {
        height: $spacer * 1.25px;
        width: $spacer * 1.25px;
      }

      @include mq(two-col) {
        height: $spacer * 2.5px;
        width: $spacer * 2.5px;
      }

      @include mq(tablet) {
        height: $spacer * 1.5px;
        width: $spacer * 1.5px;
      }
    }
  }
}

.featured-events {
  .left,
  .right {
    flex: 1;

    @include mq(tablet) {
      margin: {
        bottom: $spacer * 1px;
        top: $spacer * 1px;
      }
    }

    @include mq(desktop) {
      margin: {
        bottom: $spacer * 1.5px;
        top: $spacer * 1.5px;
      }
    }
  }

  .left {
    display: none;

    @include mq(tablet) {
      display: block;
      flex-basis: 55%;
    }

    @include mq(tablet) {
      flex-basis: 50%;
    }
  }

  .right {
    @extend %verlag--black;
    display: flex;
    flex-direction: column;

    &__top,
    &__bottom {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: $spacer * 2px;
      padding-bottom: $spacer * 2px;
      text-align: center;

      @include mq(two-col) {
        height: 50%;
      }

      @include mq(tablet) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__top {
      background: #ebebeb;
      position: relative;

      &:after {
        border: {
          left: 9px solid transparent;
          right: 9px solid transparent;
          top: 9px solid #ebebeb;
        }
        content: '';
        display: block;
        height: 0;
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
      }

      @include mq(tablet) {
        &:after {
          display: none;
        }
      }

      @include mq(desktop) {
        &:after {
          display: block;
        }
      }
    }

    &__bottom {
      background: $euphoria-blue;
    }

    @include mq(one-col) {
      font-size: $spacer * 1.5px;
    }

    @include mq(two-col) {
      font-size: $spacer * 1.75px;
    }

    @include mq(tablet) {
      font-size: $spacer * 1.5px;
      flex-basis: 45%;
    }

    @include mq(desktop) {
      font-size: $spacer * 2px;
      flex-basis: 50%;
    }
  }
}
