.single-event {
  color: $euphoria-dark-blue;
  padding-bottom: 5em;

  &__header {
    position: relative;
  }

  &__price {
    @extend %verlag--black;
    color: $euphoria-dark-blue;
    margin-top: 0;

    @include mq(two-col) {
      text-align: center;
      color: $white;
      background: $euphoria-dark-blue;
      font-size: $spacer*1.5px;
      height: $spacer*4px;
      line-height: $spacer*4px;
      position: absolute;
      right: calc(-1 * (95px + #{$spacer*1px}));
      top: calc(#{$spacer}*(-1px));
      width: 95px;
    }
  }

  &__date {
    @extend %verlag--black;
    color: $euphoria-mid-blue;
    font-size: 20px;
    margin-top: 0.5em;
  }

  &__description {
    margin: 1em 0 2em;

    p {
      @extend %verlag--bold;
      color: $euphoria-blue;
      font-size: $spacer*1px;
    }

    a {
      color: $euphoria-dark-blue;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $euphoria-blue;
      }
    }

    > ul {
      margin: ($spacer * 1px) 0;
    }

    ul {
      line-height: 1.75;
      list-style: inherit;
      padding-left: 1em;

      li {
        ul {
          padding-left: 1em;
        }
      }
    }
  }

  &__sponsors {
    .list__item {
      margin-bottom: $spacer*1px;
    }

    .list.grid {
      align-items: center;
      justify-content: flex-start;
    }

    .wp-post-image {
      height: auto;
      margin: 0 auto;
      max-height: $spacer*8px;
      max-width: 85%;
      width: auto;
    }
  }

  &__talent {
    .grid--quarters {
      justify-content: flex-start;
    }

    .list__item {
      overflow: hidden;
      margin-bottom: $spacer*1px;
      position: relative;
      width: $spacer*6px;
      height: $spacer*6px;
    }

    .wp-post-image {
      margin: 0 auto;
      height: 100%;
      width: auto;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.logo--presenting-sponsor img {
  display: inline-block;
  height: $spacer*1px;
  margin-left: $spacer*0.25px;
  width: auto;
  vertical-align: middle;
}
