.article {
	& + & {
		padding-bottom: $spacer*4px;
	}

	&__body {
		@extend .clearfix;
		padding: $spacer*1px $spacer*1px $spacer*2.5px $spacer*1px;

		@include mq(tablet) {
			padding: $spacer*1px 0 $spacer*2.5px $spacer*4px;

			header {
				.h1 {
					font-size: 36px;
				}
			}
		}
	}

	&__sidebar {
		.list__item a {
			text-decoration: underline;
			display: inline-block;
		}
	}

	&__header {
		background: $euphoria-blue;
		padding: 45px 0;

		@include mq(tablet) {
			padding: 75px 0;
		}
	}

	&__h1 {
		color: $euphoria-dark-blue;
	}

	&__h2 {
		color: $white;
		font-size: calc(17em/16);
	}

	@include mq(two-col) {
		&__h1,
		&__h2 {
			display: inline-block;
		}

		&__h2 {
			font-size: calc(19em/16);
		}
	}

	@include mq(tablet) {
		&__h1 {
			margin-right: 5%;
		}

		&__h2 {
			max-width: 650px;
			width: 60%;
		}
	}

	&-categories {
		font-size: 14px;
		margin-top: $spacer*4px;

		p {
			@extend %verlag--black;
			font-size: 14px;
		}

		ul {
			a {
				@extend %verlag--bold;
				font-size: 16px;
				color: $euphoria-blue;
				margin-right: $spacer*0.5px;
				text-decoration: underline;
			}
		}
	}
}
