button {
  cursor: pointer;

  &.icon{
    background: none;
  }
}


.button {
  display: inline-block;
  line-height: 0.7;
  padding: $spacer*0.5px;
  text-align: center;

  &--full {
    @extend %verlag--black;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 20px 18px 18px;
    width: 100%;

    @include mq(desktop) {
      font-size: 16px;
    }

    @include mq(full) {
      font-size: 18px;
    }
  }

  &--blue {
    background: $euphoria-blue;
    color: $euphoria-dark-blue !important;

    &:not(.not-link) {
      &:hover,
      &:focus {
        background: $euphoria-dark-blue !important;
        color: $white !important;
      }
    }
  }

  &--nav-toggle {
    background: transparent;
    height: 25px;
    position: relative;
    width: 30px;
    z-index: 10;

    font-size: 0;
    color: transparent;
    text-indent: -9999px;

    .bar {
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: 200ms all ease;

      .header--page & {
        background: $euphoria-blue;
      }

      .header--home & {
        background: $white;
      }

      &-1 {
      }

      &-2 {
        left: 50%;
        transform: translateY(10px) translateX(-50%);
      }
      &-3 {
        transform: translateY(20px);
      }
    }

    &.open {
      .bar {
        background: $euphoria-blue;

        &-1 {
          transform: translateY(10px) rotate(45deg);
        }

        &-2 {
          width: 0;
        }

        &-3 {
          transform: translateY(10px) rotate(-45deg);
        }
      }
    }

    @include mq(tablet) {
      display: none;
      height: 0;
      left: -9999px;
      top: -9999px;
      visibility: hidden;
      width: 0;
    }
  }
}
