$card: card;
$font-size: 16;
$line-height: calc(21/16);
$lines-to-show: 3;

.#{$card} {
  position: relative;

  .home .owl-carousel & {
    @include mq(tablet) {
      height: 402px !important;

      .#{$card}__cta {
        bottom: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }

  .grid--equal-heights & {
    .h1 {
      margin-bottom: $spacer*1px;

      @include mq(tablet) {
        font-size: calc(20em/16);
      }

      @include mq(desktop) {
        font-size: calc(30em/16);
      }
    }

    .#{$card}__content {
      height: 100%;
    }

    .#{$card}__cta {
      &.in-cart {
        opacity: 0.35;
        cursor: not-allowed;
        pointer-events: none;
      }

      @include mq(desktop) {
        bottom: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }

  }

  &__date {
    margin-bottom: 0;
  }

  &__content {
    background: $lightest-grey;

    .staff & {
      background: $lightest-grey !important;
    }
  }

  &__link {
    a {
      @extend %verlag--black;
      border-bottom: 1px solid rgba($euphoria-dark-blue, 0.5);
      color: $euphoria-dark-blue;
      padding-bottom: 2px;

      &:hover,
      &:focus {
        border-bottom: 1px solid rgba($euphoria-dark-blue, 1);
      }
    }
  }

  &__meta {
    @extend %verlag--bold;
    margin: $spacer*0.25px 0 $spacer*1.5px;

    span {
      display: block;

      &:last-of-type {
        margin-top: $spacer*0.25px;
      }
    }
  }

  &__section {
    margin-top: $spacer*2px;
  }

  &--portrait {
    .#{$card}__content {
      color: $euphoria-dark-blue;
      padding: $spacer*1px $spacer*2px;
    }

    .#{$card}__title {
      color: $euphoria-dark-blue;
    }

    .#{$card}__image {}
  }

  &--landscape {
    width: 100%;

    [class*="shaded"] & {
      .#{$card}__content {
        background: $white;
      }
    }

    .#{$card}__content {
      color: $euphoria-dark-blue;
      overflow: hidden;
      position: relative;

      @include mq(one-col) {
        padding: $spacer*1px;
      }

      @include mq(two-col) {
        padding: 35px;
      }
    }

    .#{$card}__image {
      background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
      };
      display: block;

      @include mq(one-col) {
        height: 100vw;
      }

      .single-talent & {
        background-position: center top;
        max-height: 450px;
      }
    }

    @include mq(two-col) {
      &.#{$card}--with-image {
        .#{$card}__content {
          width: percentage((525-216)/525);
          margin-left: percentage(216/525);
        }
      }

      .#{$card}__image {
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: percentage(216/525);
      }
    }

    img {
      width: percentage(216/525);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }

    .#{$card}__price {
      @extend %verlag--book;
      background: $euphoria-blue;
      border-radius: 50%;
      color: $white;
      display: block;
      position: absolute;
      text-align: center;

      @include mq(one-col) {
        font-size: 1em;
        height: 40px;
        line-height: 40px;
        top: 11px;
        right: 6px;
        width: 40px;
      }

      @include mq(two-col) {
        font-size: calc(18em/#{$base-font-size});
        height: 53px;
        line-height: 53px;
        right: 17px;
        top: 17px;
        width: 53px;
      }
    }

    .#{$card}__title {
      &:last-child {
        margin-bottom: $spacer*1px;
      }

      + .#{$card}__link {
        margin-top: $spacer*1.5px;
      }

      @include mq(two-col) {
        &:not(&.carousel__item) {
          padding-right: 35px;
        }
      }
    }

    .#{$card}__description {
      line-height: calc(21/16);
      margin-bottom: $spacer*1.5px;

      &:not(.no-clamp) {
        /* multi-line ellipsis */
        display: -webkit-box;
        max-width: 100%;
        height: 16px*(21/16)*$lines-to-show; /* Fallback for non-webkit */

        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .#{$card}__date {
      color: $euphoria-blue;
      margin-bottom: $spacer * 0.5px;

      + .#{$card}__date {
        margin-top: $spacer*0.25px;
        margin-bottom: $spacer*1px;
      }

      @include mq(one-col) {
        padding-right: 23px;

        .staff & {
          padding-right: 0;
        }
      }

      @include mq(two-col) {
        padding-right: 53px;

        .staff & {
          padding-right: 0;
        }
      }
    }

    .#{$card}__button {
      @extend %verlag--bold;
      color: $euphoria-dark-blue;
    }

    .#{$card}__cta {
      background: $euphoria-blue;
      display: block;
      position: relative;
      text-align: center;

      @include mq(one-col) {
        bottom: -#{$spacer*1px};
        font-size: calc(10em/#{$base-font-size});
        padding: $spacer*0.75px $spacer*0.5px;
        right: $spacer*1px;
        width: calc(100% + (#{$spacer}*1px) + (#{$spacer}*1px));
      }

      @include mq(two-col) {
        font-size: calc(18em/#{$base-font-size});
        padding: $spacer*1px;

        bottom: -35px;
        right: 35px;
        width: calc(100% + 35px + 35px);
      }
    }
  }

  .shaded--grey & {
    .#{$card}__content {
      background: $white;
    }
  }
}
