%popup {
  display: none;

  &.is-visible {
    display: block;
  }
}

.cart {
  @extend %popup;
  max-width: 500px;
  max-height: 80vh;
  margin: 0 0 0 auto;
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;


  .logged-in & {
    top: 32px;

    @include mq(tablet) {
      transform: translateY(32px);
    }

    @include mq(desktop) {
      transform: translateY(37px);
    }

    @include mq(full) {
      transform: translateY(41px);
    }
  }

  @include mq(two-col) {
    transform: translateY(17px);
    left: auto;
    position: absolute;
    top: 0;
    width: calc(100vw - (#{$spacer}*2px));
  }

  @include mq(two-col) {
    transform: translateY(49px);
  }

  @include mq(tablet) {
    transform: translateY(64px);
  }

  @include mq(full) {
    transform: translateY(68px);
  }

  &__header {
    display: flex;
    padding: $spacer*1px;
  }

  &__item {
    background: $euphoria-mid-blue;
    padding: $spacer*1.5px $spacer*1px;

    & + & {
      border-top: 1px solid $euphoria-blue;
    }

    .table__column--qty {
      text-align: center;

      button {
        background: none;
        padding: 5px 0;
        width: 100%;

        &:hover,
        &:focus {
          cursor: pointer;

          svg {
            * { fill: $euphoria-blue; }
          }
        }
      }

      svg {
        * { fill: $white; }
      }

      p {
        border: 1px solid white;
        line-height: 2.5;
        padding: 0 3px;
        width: 100%;
      }
    }
  }

  &__total {
    background: $euphoria-dark-blue;
    padding: $spacer*1px;
    text-align: right;

    span {

    }

    span, .button {
      margin-left: 0.5em;
    }
  }
}
