.footer {
  letter-spacing: 1.8px;

  @include mq(one-col) {
    text-align: center;

    .h2 {
      font-size: 90%;
    }
  }

  .form-container {
    @include mq(two-col) {
      display: flex;
      align-items: center;

      .h2 {
        margin-right: $spacer*1px;
      }
    }
  }

  .container {
    position: relative;
  }

  .h2 {
    @include mq(two-col) {
      display: inline-block;
      vertical-align: middle;
    }

    > span,
    > a {
      display: block;
      line-height: 1.5;

      @include mq(xmd) {
        display: inline-block;
        vertical-align: middle;
      }
    }

    > a {
      @media screen and (max-width: 767px) {
        border-bottom: 1px solid;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
      }

      @include mq(xmd) {
        display: block;
      }
    }
  }

  &__links-section {
    .links-section {
      @include mq(two-col) {
        &__content {
          display: block;

          p {
            &:first-child,
            &.contact-links {
              display: inline-block;
            }
          }

          .page-links {

          }
        }
      }
    }
  }

  .mailchimp-signup {
    max-width: 17em;
    margin: $spacer*1px 0 0;
    width: 100%;

    @include mq(two-col) {
      margin: 0 0 0 auto;
    }
  }

  .follow {
    svg {
      fill: white;

      @include mq(one-col) {
        height: $spacer*2px;
        width: $spacer*2px;
      }

      @include mq(two-col) {
        height: $spacer*1px;
        width: $spacer*1px;
      }
    }

    @include mq(two-col) {
      p {
        display: inline-block;
        vertical-align: middle;

        &.icons {
          margin-top: $spacer*0.5px;
        }
      }
    }

    @include mq(full) {
      position: absolute;
      right: $spacer*0.5px;
      top: $spacer*1px + 11;
    }
  }

  .icons {
    display: inline-block;

    @include mq(two-col) {
      line-height: 1.7;
    }
  }

  .icon {
    margin: 0 $spacer*0.5px;

    &--twitter {
      margin-right: $spacer*0.35px;
    }

    @include mq(full) {
      margin: 0 0 0 $spacer*0.5px;
    }
  }
}

.contact-links {
  @include mq(one-col) {
    margin: $spacer*1px auto;

    span {
      display: block;
      line-height: 1.5;
    }
  }
}

.page-links {
  margin-bottom: $spacer*1px;

  @include mq(desktop) {
    margin-bottom: 0;
  }

  @include mq(full) {
    display: inline-block;

    a {
      border-left: 2px solid;
      margin-left: ($spacer*0.5px) - 3px;
      padding-left: ($spacer*0.5px) + 1px;

      &:last-of-type {
        border-right: 2px solid;
        // margin-left: ($spacer*0.5px) - 3px;
        padding-right: ($spacer*0.5px) + 1px;
      }
    }
  }

  a {
    &:not(:first-of-type) {
      border-left: 2px solid;
      margin-left: ($spacer*0.5px) - 3px;
      padding-left: ($spacer*0.5px) + 1px;
    }
  }
}
