input,
button {
	appearance: none;
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
}

.form {
	margin: 0 auto;
	width: 100%;

	&__field {
		display: block;
		position: relative;
		width: 100%;
	}

	&__input {
		border-radius: none;
		@extend %verlag--bold;
		color: $euphoria-dark-blue;
		display: block;
		font-size: 1em;
		padding: 0.5em 2.5em 0.5em 0.5em;
		width: 100%;
	}

	&__submit {
		@extend %verlag--black;
		background: transparent;
		color: $euphoria-blue;
		font-size: 1em;
		font-style: italic;
		height: 100%;
		padding: 0 0.5em;
		position: absolute;
		top: 0;
		right: 0;

		&:hover,
    &:focus {
			color: $euphoria-dark-blue;
      cursor: pointer;
		}
	}
}
