$header: header;

.#{$header} {
  &--page {
  	background: $white;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	  .h1--logo {
		  height: 58px;
		  width: 80px;

		  a, svg {
			  display: block;
			  height: 100%;
			  width: 100%;
		  }
	  }

  	@include mq(tablet) {
  		+ .main {
  			margin-top: 50px;
  		}

  		.h1--logo {
			height: 65px;
			width: 89px;
  			padding: 0 $spacer * 0.5px;
  		}

  		.#{$header}__banner {
  			padding: 0;
  		}

  		.banner {
  			&__details {
  				align-self: stretch;
  				background: $euphoria-blue;
  				justify-content: center;
          min-width: 109px;
  				padding: $spacer*1px $spacer*1.25px $spacer*1px $spacer*1px;
  			}
  		}
  	}

  	@include mq(desktop) {
  		left: 0;
  		position: fixed;
  		right: 0;
  		top: 0;
  		width: 100%;
  		z-index: 9999;

      .logged-in & {
        top: 32px;
      }

  		+ .main {
  			margin-top: 64px;
  		}
  	}

  	.icon--cart {
  		svg {
  			* {
  				fill: $medium-grey;

					@include mq(tablet) {
						fill: $white;
					}
  			}
  		}

  		.item-count {
  			background: $medium-grey;
  			color: $white;

  			@include mq(tablet) {
  				background: $white;
  				color: $euphoria-dark-blue;
  			}
  		}
  	}
  }
}
