.header {
  background: $euphoria-blue;
  position: relative;

  &-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    width: 100%;
  }

  &__banner {
    align-items: center;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: #{$spacer}px;
    z-index: 1;
  }
}

.h1--logo {
  z-index: 1;
}