.header {
  &--home {
    background: $euphoria-blue;
    margin-bottom: 120px;

    .h1--logo {
      width: 175px;

      svg {
        height: 21px;
        width: 175px;
      }
    }

    @include mq(tablet) {
      height: 550px;

      .h1--logo {
        width: 255px;

        svg {
          height: 31px;
          width: 255px;
        }
      }
    }

    .owl-carousel--full {
      margin: -70px auto 0;
      z-index: 0;

      .carousel__item {
        .header__content {
          padding: $spacer*1px $spacer*3px;
        }
      }

      .owl {
        &-nav {
          @include mq(tablet) {
            display: none;
          }
        }

        &-next {
          right: $spacer*-1px;
        }

        &-prev {
          transform: rotate(180deg) translateY(50%) translateX(7px);
        }

        &-dots {
          text-align: center;

          @include mq(tablet) {
            position: absolute;
            bottom: $spacer*4px;
            right: $spacer*4px;
          }
        }

        &-dot {
          background: $white;
          border-radius: 50%;
          box-shadow: 0 0 0px 2px rgba($white, 0);
          display: inline-block;
          height: $spacer*0.5px;
          margin: $spacer*1px $spacer*0.25px;
          width: $spacer*0.5px;
          transition: 350ms box-shadow ease-in-out;

          &.active {
            box-shadow: 0 0 0px 3px rgba($euphoria-blue, 1), 0 0 0px 5px rgba($white, 1);
          }
        }
      }

      .hero-wrapper {
        height: 100%;

        img {
          width: auto;
        }
      }

      @include mq(tablet) {
        margin: -83px auto 0;

        .carousel__header {
          padding-right: $spacer*4px;
        }
      }
    }
  }

  .banner {
    &__details {
      align-items: center;
      display: flex;
      position: relative;
      z-index: 15;

      .h3 {
        text-transform: uppercase;
        font-size: 80%;

        @include mq(desktop) {
          font-size: 100%;
        }
      }
    }
  }

  &__content {
    background: $euphoria-blue;
    color: $white;
    position: relative;
    z-index: 0;

    &:after {
      background: $euphoria-blue;
      content: '';
      display: block;
      position: absolute;

      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    @include mq(one-col) {
      &:after {
        height: 50px;
        transform: skewY(-5deg) translateY(-50%);
      }
    }

    @include mq(two-col) {
      padding-bottom: $spacer*2px;

      &:after {
        height: 150px;
        transform: skewY(-5deg) translateY(-25%);
      }
    }

    @include mq(tablet) {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;

      &:after {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        transform: skewX(-5deg) translateX(-10%);
      }
    }

    @include mq(desktop) {
      &:after {
        transform: skewX(-12.5deg) translateX(-30%);
      }
    }

    @media screen and (min-width: 1240px) {
      background: linear-gradient(to top, $euphoria-blue 0%, rgba($euphoria-blue, 0) 100%);
      width: 540px;

      &:after {
        transform: skewX(-25deg) translateX(-22%);
      }
    }
  }

  &__carousel {
    .h1 {
      text-transform: uppercase;
    }

    @include mq(one-col) {
      margin-top: $spacer*-1px;
    }

    @include mq(tablet) {
      position: absolute;
      width: calc(100% - (#{$spacer}*1px));
      top: 50%;
      transform: translateY(-50%);
      left: -$spacer*1px;
    }
  }

  &__frill {
    background: {
      image: url(../images/bgs/icon-pattern.svg);
      position: left bottom;
      repeat: repeat;
      size: auto 50px;
    }
    height: 120px;
    position: absolute;
    bottom: -120px;
    width: 100%;
    opacity: .13;
  }
}

.hero-wrapper {
  overflow: hidden;
  position: relative;
  max-width: 1440px;

  @include mq(one-col) {
    height: 75vw;
  }

  img {
    height: 100%;
    width: auto;

    @media screen and (max-width: 767px) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.homepage-logo {
  &, * {
    fill: white;

    .nav-is-open & {
      fill: $euphoria-blue;
    }
  }
}

.svg--presented-by,
.svg--lexus-logo {
  fill: white;

  .nav-is-open & {
    fill: black;
  }
}
