$icon: icon;

.#{$icon} {

  &__svg {
    display: block;
    height: 18px;
    width: 11px;
  }

  &--close {
    background: none;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  &--cart {
    background: none;
    height: 25px;
    margin-right: $spacer*1px;
    width: 25px;
    overflow: visible;

    svg {
      height: 25px;
      width: 21px;
    }

    @include mq(tablet) {
      margin-right: auto;

       .header--home & {
        margin-left: $spacer*1px;
       }
    }

    .item-count {
      display: none;
      visibility: hidden;

      @extend %verlag--black;
      background: $white;
      border-radius: 50%;
      color: $euphoria-dark-blue;
      font-size: 14px;
      height: $spacer*1px;
      line-height: $spacer*1px - 1;
      text-align: center;
      width: $spacer*1px;

      position: absolute;
      top: -6px;
      right: -10px;

      transform: scale(0);
      transition: transform 1s ease;

      .nav-is-open & {
        background: $euphoria-blue;
      }

      @include mq(tablet) {
        font-size: 14px;
      }
    }

    &.has-items {
      position: relative;

      .item-count {
        display: block;
        visibility: visible;
        transform: scale(1);
      }
    }
  }

  &--arrow-up,
  &--arrow-down,
  &--arrow-right,
  &--arrow-left {
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  &--arrow-right,
  &--arrow-left {
    top: -2px;

    svg {
      height: 18px;
      width: 11px;
    }
  }

  &--arrow-up {
    transform: rotate(270deg);
  }

  &--arrow-down {
    transform: rotate(90deg);
  }

  &--arrow-right {
    margin-left: 5px;
  }

  &--arrow-left {
    margin-right: 5px;
    transform: rotate(180deg);
  }
}

.map-pin {

  .address & {
    height: 25px;
    left: 0;
    position: absolute;
    top: 4px;
    width: $spacer*1px;

    @include mq(two-col) {
      left: calc((#{$spacer}*-1px) - 1em);
    }
  }

  .location & {
    display: none;
    height: 65px;
    width: 43px;

    @include mq(tablet) {
      display: block;
      left: -43px - 6px;
      position: absolute;
      top: 0;
    }
  }
}