%list-item {
  @extend %verlag--bold;
  font-size: $spacer*1px;
  line-height: 1.5;

  a {
    color: $euphoria-dark-blue;

    &:hover,
    &:focus {
      color: $euphoria-blue;
    }
  }
}

.list {
  &__item {
    @extend %list-item;

    & + &--title {
      margin-top: 1em;
    }

    &--title {
      @extend %list-item;
      @extend %verlag--black;
      color: $euphoria-dark-blue;
      font-size: 24px;
    }

    a, svg {
      display: block;
    }
  }

  &--inline {
    li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &--ol {

  }

  &--inside {
    li {
      list-style-position: inside;
      margin-left: 15px;
      text-indent: -15px;
    }
  }
}

ol {
  list-style-type: decimal;
  padding-left: 15px;

  li {
    @extend %verlag--bold;
    display: list-item;
    font-size: 18px;
    margin-bottom: $spacer*0.5px;
  }
}
