$sides: left right;

.media-box {
  padding: $spacer*2px;

  @include mq(tablet) {
    padding:inherit;
  }

  &__content {
    overflow: hidden;
  }

  @each $side in $sides {
    &--m-#{$side} {
      .media {
        float: $side;
        @if $side == 'left' {
          margin-right: $spacer*1px;
        } @else if $side == 'right' {
          margin-left: $spacer*1px;
        }
      }
    }
  }

}
