.menu-primary-navigation-container { height: 100%; }

.page-nav {
  @extend .clearfix;
  background: $white;

  @include mq(tablet) {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    display: inline-block;
    position: relative;
    transform: translateY(-50%);
  }
}

.nav {
  &--page {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    background: $white;
    margin: 0;
    position: relative;
    text-align: center;
    z-index: 10;

    & + & {
      z-index: 0;
    }

    li {
      display: inline-block;

      a {
        @extend %verlag--bold;
        color: $euphoria-dark-blue;
        display: block;
        padding: $spacer*1px $spacer*0.5px;
        position: relative;

        &.is-active {
          &:after {
            background: $euphoria-blue;
            bottom: -1px;
            content: '';
            display: block;
            height: 4px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;

            @include mq(tablet) {
              left: 0;
              transform: none;
            }
          }
        }

        @include mq(tablet) {
          font-size: 20px;
          padding: $spacer*1px $spacer*0.75px;

          &.is-active {
            &:after {
              left: $spacer*0.75px;
            }
          }
        }

        @include mq(desktop) {
          padding: $spacer*1.45px $spacer*1px;
        }
      }
    }

    @include mq(two-col) {
      text-align: left;
    }

    @include mq(tablet) {
      box-shadow: none;
      float: left;
    }

    @include mq(desktop) {
      &:first-of-type {
        padding: 0 0 0 $spacer*1px;
      }

      &:last-of-type {
        padding: 0 $spacer*1px 0 0;
      }
    }
  }

  li {

    @include mq(tablet) {
      &.is-active {
        position: relative;

        &:after {
          background: $euphoria-dark-blue;
          bottom: 0;
          content: '';
          height: 5px;
          left: $spacer*1px;
          position: absolute;
          width: percentage(84/159);
        }
      }
    }

    a {
      @extend %verlag--black;
      display: block;

      @media screen and (max-width: 767px) {
        color: $white;
        font-size: 24px;
        padding: $spacer*1px;
      }

      @include mq(tablet) {
        color: $euphoria-dark-blue;
        font-size: 14px;
        padding: $spacer*1px calc((#{$spacer}*0.5px) - 4px);

        &:hover,
        &:focus {
          color: $euphoria-blue;
        }
      }

      @include mq(desktop) {
        padding: 18px calc((18*0.5px) - 1px) 18px calc((18*1px));
      }

      @include mq(full) {
        font-size: 16px;
        padding: calc((#{$spacer}*1.5px) + 1px) calc((#{$spacer}*1.5px) - 11px);
      }

      @media screen and (min-width: 1366px) {
        padding: calc((#{$spacer}*1.5px) + 1px) calc((#{$spacer}*1.5px));
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-navigation {
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    z-index: 20;

    .logged-in & {
      top: 32px;
    }

    .nav-is-open .header--home & {
      transform: translateY(66px);
    }

    .nav-is-open .header--page & {
      transform: translateY(94px);
    }
  }

  .nav {
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;

    li {
      text-align: center;
      position: absolute;
      left: 0;
      top: -61px;
      right: 0;
      transition: 150ms all cubic-bezier(0, 1, 0, 1);

      $nav-items: $euphoria-blue #20b2e7 #249cd6 #2293cd #1e86bb #1a79aa #196c96;

      @for $i from 1 through length($nav-items) {
        $background-color: nth($nav-items, $i);

        &:nth-child(#{$i}) {
          transition-delay: calc(((#{$i} - 1)*75ms) + 200ms);
          z-index: 10-$i;

          .nav-is-open & {
            /*
             * It's not just that each needs to wait it's turn, but to have the same speed,
             * each needs to start appearing from the item directly above it,
             * not from the very top. Each one is moving a little faster, right now,
             * because it has further to travel.
             * Figure this out.
             */
            // transform: translateY(-60px);
            transform: translateY(calc((#{$i})*60px));
            // transform: translateY(calc((#{$i} - 1)*(-100%)));
          }

          a {
            background: $background-color;
          }
        }
      }
    }
  }
}

@include mq(tablet) {
  .main-navigation {
    background: $white;
    border-top: 1px solid rgba($light-grey, .5);
    bottom: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    left: 50%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 10;

    .header--home & {
      transform: translateX(-50%) translateY(50%);
    }

    .header--page & {
      transform: translateX(-50%) translateY(100%);

      .nav {
        // align-items: stretch;
        // display: flex;
        // justify-content: space-between;

        li {
          display: inline-block;
          align-items: center;
          justify-content: center;
          width: auto;
          padding: $spacer*0.5px 0;
        }
      }
    }

    .nav {
      &--site {
        text-align: center;
      }

      li {
        display: inline-block;

        + li {
          border-left: 1px solid rgba($light-grey, .5);
        }
      }
    }
  }
}

@include mq(desktop) {
  .main-navigation {
    .header--home & {
      max-width: 1182px;
      width: calc(100% - 50px);
    }
  }
}

@media screen and (min-width: 1000px) {
  .main-navigation {
    border-top: none;
    .header--page & {
      box-shadow: none;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      transform: none;

      .nav {
        li {
          padding: $spacer*1px 0;

          a {
            padding: $spacer*0.5px $spacer*0.5px;
          }
        }
      }
    }
  }
}

@include mq(full) {
  .main-navigation {
    width: percentage(1152/1366);

    .header--page & {
      .nav {
        li {
          padding: $spacer*1.5px $spacer*0.5px;

          a {
            padding: 0 $spacer*0px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .main-navigation {
    .header--page & {
      .nav {
        li {
          padding: $spacer*1.5px $spacer*1px;

          a {
            padding: 0 $spacer*0px;
          }
        }
      }
    }
  }
}
