.popup {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  .logged-in & {
    top: 32px;
  }

  &__header {
    padding: $spacer*1px $spacer*1px 0 $spacer*1px;

    .h1 {
      font-size: 1.4em;
      margin-bottom: 0;
    }
  }

  &__close {
    height: 2em;
    position: absolute;
    top: $spacer*1px;
    right: $spacer*1px;
  }
}
