.sidebar {
	&__content {
		margin-top: 3em;

		.single-events & {
			.list__item,
			.list__item a {
				color: $euphoria-dark-blue;
			}
		}

		.list__item--title { font-size: 18px; }

		@include mq(two-col) {
			padding: 0 $spacer*1px;
		}
	}

	&__header {
		background: $euphoria-blue;
		color: $euphoria-dark-blue;
		display: block;
		@extend %verlag--black;
		font-size: 18px;
		text-align: center;
	}

	&__cta,
	&__header {
		height: $spacer*4px;
		line-height: $spacer*4px;
		padding: 0 $spacer*0.5px;

		@include mq(desktop) {
			padding: 0 $spacer*1px;
		}
	}
}