.table {
  display: flex;
  flex-direction: column;

  &--cart {
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__column {
    &--title {
      @extend %verlag--bold;
    }

    &--qty {
      width: percentage(2/16);
    }
    &--ticket {
      margin: 0 percentage(1.5/16);
      width: percentage(7/16);
    }
    &--price {
      width: percentage(4/16);
    }
  }
}
