{% extends "base.twig" %}

{% block content %}
	<header class="article__header">
		<div class="container container--with-padding">
			<h1 class="article__h1 h1">SUPPORTERS</h1>
			{% if supporters_page_subheading %}
			<h2 class="article__h2 h2">{{supporters_page_subheading}}</h2>
			{% endif %}
		</div>
	</header>

	<section class="shaded shaded--grey">
		<div class="container">
			<nav class="page-nav">
				<ul class="nav--page">
					{% if title %}
						<li>
							<a class="js-page-nav" href="#title">Title</a>
						</li>
					{% endif %}
					{% if diamond %}
						<li>
							<a class="js-page-nav" href="#diamond">Diamond</a>
						</li>
					{% endif %}
					{% if platinum %}
						<li>
							<a class="js-page-nav" href="#platinum">Platinum</a>
						</li>
					{% endif %}
					{% if gold %}
						<li>
							<a class="js-page-nav" href="#gold">Gold</a>
						</li>
					{% endif %}
					{% if silver %}
						<li>
							<a class="js-page-nav" href="#silver">Silver</a>
						</li>
					{% endif %}
					{% if bronze %}
						<li>
							<a class="js-page-nav" href="#bronze">Bronze</a>
						</li>
					{% endif %}
					{% if foodie %}
						<li>
							<a class="js-page-nav" href="#foodie">Foodie</a>
						</li>
					{% endif %}
					{% if restaurants %}
						<li>
							<a class="js-page-nav" href="#restaurants">Restaurants</a>
						</li>
					{% endif %}
					{% if media %}
						<li>
							<a class="js-page-nav" href="#media">Media</a>
						</li>
					{% endif %}
					{% if featured_supporters %}
						<li>
							<a class="js-page-nav" href="#featured">Featured</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</section>

	{% if title %}
		<section class="section shaded shaded--grey" id="title">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">TITLE SPONSOR</h2>
				</div>
				<section style='max-width: 360px; margin: 0 auto;'>
					{% for post in title %}
					<div class="" id="supporter--{{post.ID}}">
					{% if post.url %}
						<a href="{{post.url}}" target="_blank">
							<img src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}">
						</a>
					{% else %}
						<img src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}">
					{% endif %}
					</div>
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if diamond %}
		<section class="section" id="diamond">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">DIAMOND SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in diamond %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if platinum %}
		<section class="section" id="platinum">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">PLATINUM SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in platinum %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if gold %}
		<section class="section" id="gold">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">GOLD SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in gold %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}


	{% if silver %}
		<section class="section" id="silver">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">SILVER SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in silver %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if bronze %}
		<section class="section" id="bronze">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">BRONZE SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in bronze %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if foodie %}
		<section class="section" id="foodie">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">FOODIE SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in foodie %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if restaurants %}
		<section class="section" id="restaurants">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">RESTAURANT SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in restaurants %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if media %}
		<section class="section" id="media">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">MEDIA SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between">
					{% for post in media %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if featured_supporters %}
		<section class="section" id="featured">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">FEATURED SPONSORS</h2>
				</div>
				<section class="grid grid--thirds grid--space-between featured-supporters">
					{% for item in featured_supporters %}
						{% set sponsor = item.featured_sponsor|first %}
						{% set url = fn('get_post_custom_values', 'url', sponsor.ID) %}
						<div class="grid__item">
							<a href="{{ url|first }}" target="_blank">
								{{ fn('get_the_post_thumbnail', sponsor.ID) }}
							</a>
							<p>{{ item.featured_sponsor_label }}</p>
						</div>
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	<section class="section  shaded shaded--secondary  supporter-callout">
		<div class="container container--with-padding">
			<h2 class="h1 color--white">INTERESTED IN BECOMING A PARTNER?</h2>
			<p class="h2">FOR MORE INFORMATION ON BECOMING A SPONSOR PLEASE EMAIL US AT:</p>
			<p class="bold"><a class="color--brand" href="mailto:morgan@euphoriagreenville.com" class="">morgan@euphoriagreenville.com</a></p>
		</div>
	</section>

{% endblock %}









