{% extends "base.twig" %}

{% block content %}
	<header class="article__header">
		<div class="container container--with-padding">
			<h1 class="article__h1 h1">RECIPES</h1>
		</div>
	</header>

	<section class="shaded shaded--grey">
		<div class="container">
			<nav class="page-nav">
				<ul class="nav--page">
					<li>
						<a href="#lunch">Lunch</a>
					</li>
					<li>
						<a href="#dinner">Dinner</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>

	{% if lunch %}
		<section class="section shaded shaded--grey" id="lunch">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Lunch</h2>
				</div>
				<section class="grid grid--halves">
				{% for post in lunch %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}


	{% if dinner %}
		<section class="section" id="dinner">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Dinner</h2>
				</div>
				<section class="grid grid--halves">
					{% for post in dinner %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

{% endblock %}









