{% extends "base.twig" %}

{% block content %}
	<header class="article__header">
		<div class="container container--with-padding">
			<h1 class="article__h1 h1">TALENT</h1>
			{% if talent_page_subheading %}
			<h2 class="article__h2 h2">{{talent_page_subheading}}</h2>
			{% endif %}
		</div>
	</header>

	<section class="shaded shaded--grey">
		<div class="container">
			<nav class="page-nav">
				<ul class="nav--page">
					<li>
						<a class="js-page-nav" href="#chef">Chefs</a>
					</li>
					<li>
						<a class="js-page-nav" href="#musicians">Musicians</a>
					</li>
					<li>
						<a class="js-page-nav" href="#drink-experts">Drink Experts</a>
					</li>
					<li>
						<a class="js-page-nav" href="#media">Participating Media</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>

	<section class="section shaded shaded--grey" id="chef">
		<div class="container container--with-padding">
			<div class="section__header">
				<h2 class="h1">Chefs</h2>
			</div>
			<section class="grid grid--thirds grid--space-between">
			{% for post in chef %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
			</section>
		</div>
	</section>

	<section class="section" id="musicians">
		<div class="container container--with-padding">
			<div class="section__header">
				<h2 class="h1">Musicians</h2>
			</div>
			<section class="grid grid--thirds grid--space-between">
				{% for post in musician %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
			</section>
		</div>
	</section>

	<section class="section shaded shaded--grey" id="drink-experts">
		<div class="container container--with-padding">
			<div class="section__header">
				<h2 class="h1">Drink Experts</h2>
			</div>
			<section class="grid grid--thirds grid--space-between">
				{% for post in drink %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
			</section>
		</div>
	</section>

	<section class="section" id="media">
		<div class="container container--with-padding">
			<div class="section__header">
				<h2 class="h1">Participating Media</h2>
			</div>
			<section class="grid grid--thirds grid--space-between">
				{% for post in media %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
			</section>
		</div>
	</section>

{% endblock %}
