{% extends "base.twig" %}

{% block content %}
	<header class="article__header">
		<div class="container container--with-padding">
			<h1 class="article__h1 h1">EVENTS &amp; TICKETS</h1>
			{% if events_page_subheading %}
			<h2 class="article__h2 h2">{{events_page_subheading}}</h2>
			{% endif %}
		</div>
	</header>

	<section class="shaded shaded--grey">
		<div class="container">
			<nav class="page-nav">
				<ul class="nav--page">
					{% if thursday %}
						<li>
							<a class="js-page-nav" href="#thursday">Thursday</a>
						</li>
					{% endif %}
					{% if friday %}
						<li>
							<a class="js-page-nav" href="#friday">Friday</a>
						</li>
					{% endif %}
					{% if saturday %}
						<li>
							<a class="js-page-nav" href="#saturday">Saturday</a>
						</li>
					{% endif %}
					{% if sunday %}
						<li>
							<a class="js-page-nav" href="#sunday">Sunday</a>
						</li>
					{% endif %}
				</ul>
				<ul class="nav--page">
					{% if prefest %}
						<li>
							<a class="js-page-nav" href="#pre-fest">Pre-Festival Events</a>
						</li>
					{% endif %}
					{% if packages %}
						<li>
							<a class="js-page-nav" href="#packages">Ticket Packages</a>
						</li>
					{% endif %}
					{% if hotel %}
						<li>
							<a class="js-page-nav" href="#hotel">Hotel &amp; Ticket Packages</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</section>

	{% if thursday %}
		<section class="section shaded shaded--grey" id="thursday">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Thursday</h2>
				</div>
				<section class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
			    {% for post in thursday %}
			    	{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			    {% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if friday %}
		<section class="section " id="friday">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Friday</h2>
				</div>
				<section class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
					{% for post in friday %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if saturday %}
		<section class="section shaded shaded--grey" id="saturday">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Saturday</h2>
				</div>
				<section class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
					{% for post in saturday %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if sunday %}
		<section class="section" id="sunday">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Sunday</h2>
				</div>
				<section class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
					{% for post in sunday %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if prefest %}
		<section class="section shaded shaded--grey" id="pre-fest">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Pre-Festival Events</h2>
				</div>
				<section class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
				{% for post in prefest %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if packages %}
		<section class="section" id="packages">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Ticket Packages</h2>
					<p>Do you want to be a VIP and enjoy all euphoria has to offer with exclusive perks? Or are you interested in attending multiple events? Take a look at our Ticket Passes for the best value!</p>
				</div>
				<section class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
					{% for post in packages %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

	{% if hotel %}
		<section class="section shaded shaded--grey" id="hotel">
			<div class="container container--with-padding">
				<div class="section__header">
					<h2 class="h1">Hotel &amp; Ticket Packages</h2>
					<p>Looking to attend multiple events? Do you need hotel accommodations too? Take a look at our "Ticket &amp; Hotel Packages", and enjoy euphoria while staying at our official hotel partner the Hyatt or one of many other Downtown Greenville options for the best value!</p>
				</div>
				<section class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
					{% for post in hotel %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</section>
			</div>
		</section>
	{% endif %}

{% endblock %}









