{% extends "base.twig" %}

{% block content %}

	<header class="article__header">
		<div class="container container--with-padding">
			<h1 class="article__h1 h1">
				{% if fn('is_category') %}
					<span class="uppercase">{{ fn('single_cat_title', 'Category: ') }}</span>
				{% else  %}
					NEWS
				{% endif %}
			</h1>
			{% if fn('is_category') %}
				<span class="uppercase">{{ fn('single_cat_title') }}</span>
			{% endif %}
		</div>
	</header>

	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
{% endblock %}