{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<img class='img-pixel' src="https://tag.yieldoptimizer.com/ps/analytics?pxid=8409&">
		{% include 'header.twig' %}

		<main role="main" class="main">
			{% block content %}
				Sorry, no content
			{% endblock %}

			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}

		</main>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}

			<script>
				var ezjQuery = jQuery;
				var ezLoad = document.createElement('script');
				ezLoad.type = 'text/javascript';
				ezLoad.src = 'https://kiosk.eztix.co/js/ver' + parseInt(Math.random() * 2147483647) + '/eztixKioskRemote/eztixKioskRemoteLoader.eztix.js';
				var s = document.getElementsByTagName('script');
				s = s[s.length - 1];
				s.parentNode.insertBefore(ezLoad, s.nextSibling);
			</script>

			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-64047934-1', 'auto', {'allowLinker': true});
			  ga('require', 'linker');
			  ga('linker:autoLink', ['eztix.co'] );
			  ga('send', 'pageview');

			</script>

			<!-- Google Code for Remarketing Tag -->
			<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 951116521;
			var google_custom_params = window.google_tag_params;
			var google_remarketing_only = true;
			/* ]]> */
			</script>
			<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
			</script>
			<noscript>
			<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951116521/?value=0&amp;guid=ON&amp;script=0"/>
			</div>
			</noscript>

			<!-- Sojern Tag v6_js, Pixel Version: 1 -->
			<script>
			  (function () {
			    var params = {};
			    /* Please do not modify the below code. */
			    var cid = [];
			    var paramsArr = [];
			    var cidParams = [];
			    var pl = document.createElement('script');
			    var defaultParams = {"vid":"tou"};
			    for(key in defaultParams) { params[key] = defaultParams[key]; };
			    for(key in cidParams) { cid.push(params[cidParams[key]]); };
			    params.cid = cid.join('|');
			    for(key in params) { paramsArr.push(key + '=' + encodeURIComponent(params[key])) };
			    pl.type = 'text/javascript';
			    pl.async = true;
			    pl.src = 'https://beacon.sojern.com/pixel/p/28325?f_v=v6_js&p_v=1&' + paramsArr.join('&');
			    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(pl);
			  })();
			</script>
			<!-- End Sojern Tag -->
			<!-- Facebook Pixel Code -->
			<script>
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '102196967107704'); // Insert your pixel ID here.
			fbq('track', 'PageView');
			</script>
			<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=102196967107704&ev=PageView&noscript=1"
			/></noscript>
			<!-- DO NOT MODIFY -->
			<!-- End Facebook Pixel Code -->
		{% endblock %}
	</body>
</html>
