<footer class="footer">
  <div class="shaded shaded--brand">
    <div class="container  container--with-padding   form-container">
      <p class="h2"><span>STAY UP TO DATE ON THE LATEST BY SUBSCRIBING TO OUR NEWSLETTER</span></p>
      <!-- Begin MailChimp Signup Form -->
      <div class="mailchimp-signup" id="mc_embed_signup">
        <form class="form" action="//euphoriagreenville.us2.list-manage.com/subscribe/post?u=2d5a8abcba7c370a24e251b2d&amp;id=9ee4614680" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" style="position: relative;">
              <input
                type="email"
                value=""
                name="EMAIL"
                id="mce-EMAIL"
                placeholder="Email Address"
                class="form__input"
                required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2d5a8abcba7c370a24e251b2d_9ee4614680" tabindex="-1" value=""></div>
                <div class="clear">
                  <input type="submit" class="form__submit" value="Go!" name="subscribe" id="mc-embedded-subscribe">
                </div>
            </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>

  <div class="shaded shaded--secondary  footer__links-section">
    <div class="container  container--with-padding">
      <div class="h2 links-section__content">
        <p>CONTACT US AT: </p>
        <p class="contact-links">
          <span><a href="mailto:info@euphoriagreenville.com">info@euphoriagreenville.com</a> </span>
          <span>or <a href="tel:8642335663">864-233-5663</a></span>
        </p>

        <div class="page-links">
          <a class="footer__link" href="{{ fn('site_url') }}/faq">FAQ</a>
        </div>

        <div class="follow">
          <p class="hidden-sm">FOLLOW US:</p>

          <p class="icons">
            <a class="icon  icon--twitter" href="https://twitter.com/euphoriaGVL">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><title>Logo: Twitter</title><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62c-3.122.162-6.22-.646-8.86-2.32 2.702.18 5.375-.648 7.507-2.32-2.072-.248-3.818-1.662-4.49-3.64.802.13 1.62.077 2.4-.154-2.482-.466-4.312-2.586-4.412-5.11.688.276 1.426.408 2.168.387-2.135-1.65-2.73-4.62-1.394-6.965C5.574 7.816 9.54 9.84 13.802 10.07c-.842-2.738.694-5.64 3.434-6.48 2.018-.624 4.212.043 5.546 1.682 1.186-.213 2.318-.662 3.33-1.317-.386 1.256-1.248 2.312-2.4 2.942 1.048-.106 2.07-.394 3.02-.85-.458 1.182-1.343 2.15-2.48 2.71z"/></svg>
            </a>

            <a class="icon" href="https://www.instagram.com/euphoriagreenville">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><title>Logo: Instagram</title><path d="M4.066.636h19.867c1.887 0 3.43 1.543 3.43 3.43v19.868c0 1.888-1.543 3.43-3.43 3.43H4.066c-1.887 0-3.43-1.542-3.43-3.43V4.066c0-1.887 1.544-3.43 3.43-3.43zm16.04 2.97c-.66 0-1.203.54-1.203 1.202v2.88c0 .662.542 1.203 1.204 1.203h3.02c.663 0 1.204-.54 1.204-1.202v-2.88c0-.662-.54-1.203-1.202-1.203h-3.02zm4.238 8.333H21.99c.224.726.344 1.495.344 2.292 0 4.446-3.72 8.05-8.308 8.05s-8.31-3.604-8.31-8.05c0-.797.122-1.566.344-2.293H3.606v11.29c0 .584.48 1.06 1.062 1.06H23.28c.585 0 1.062-.477 1.062-1.06V11.94h.002zm-10.32-3.2c-2.963 0-5.367 2.33-5.367 5.202 0 2.873 2.404 5.202 5.368 5.202 2.965 0 5.368-2.33 5.368-5.202s-2.403-5.2-5.368-5.2z"/></svg>
            </a>

            <a class="icon" href="https://www.facebook.com/EuphoriaFoodWineMusic/">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><title>Logo: Facebook</title><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg>
            </a>
          </p>

        </div>

      </div>

    </div>
  </div>
</footer>
