{% extends "base.twig" %}

{% block content %}
	<section class="container featured-events">
		{# {% include '/partials/homepage-carousel.twig' %} #}
		<br>
		<img src="{{ fn('site_url') }}/wp-content/themes/euphoria-2016/static/images/graphics/Save-the-date-home.jpg" alt="Save the date! euphoria 2018 coming September 20-23 2018">
	</section>

	<section class="shaded shaded--grey">
	  <div class="section  container  container--with-padding">
	  	{% include '/partials/quote-and-twitter.twig' %}
	  </div>
	</section>

	<section class="sponsors">
	  <div class="shaded shaded--secondary">
	    <h2 class="h2 section-title container container--with-padding">SOME OF OUR PROUD 2018 SPONSORS</h2>
	  </div>

	  <div class="section">
	    <ul class="grid grid--quarters grid--space-between  container container--with-padding">
	    	{% for item in featured_supporters %}
	    		{% set url = fn('get_post_custom_values', 'url', item.ID) %}
	    		<li class="grid__item">
	    			<a href="{{ url|first }}" target="_blank">
	    				{{ fn('get_the_post_thumbnail', item.ID) }}
	    			</a>
	    		</li>
	    	{% endfor %}
	    </ul>
	  </div>
	</section>
{% endblock %}
