{% if fn('is_front_page') %}
  {% set header_classes = 'header--home' %}
{% elseif fn('is_archive') or fn('is_page') or fn('is_single') or ((fn('is_front_page') == false) and fn('is_home')) %}
  {% set header_classes = 'header--page' %}
{% endif %}

<header class="header {{ header_classes }}">
  <div class="header-wrapper">
    {% block header %}
    <div class="header__banner">
      <h1 class="h1--logo">
        <a href="{{ fn('site_url') }}" rel="home">
        {% if fn('is_front_page') %}
          {% include '/static/images/logos/euphoria_lexus-logo--white.svg' %}
          {% elseif fn('is_archive') or fn('is_page') or fn('is_single') or ((fn('is_front_page') == false) and fn('is_home')) %}
          {% include '/static/images/logos/euphoria_lexus-logo-mark.svg' %}
        {% endif %}
        </a>
      </h1>

      {% include '/partials/site-navigation.twig' %}

      <div class="banner__details">
      {% if function('is_front_page') %}
        <span class="h3 hidden-below-tablet">{{ event_date }}  |  GREENVILLE, SC</span>
      {% endif %}

        <div>
          <button id="js-cart-button" class="icon icon--cart  has-items">
            {% include '/static/images/svgs/cart.svg' %}
            <span class="item-count" id="js-cart-item-count"></span>
          </button>
          {% include '/partials/cart.twig' %}
        </div>

        <button id="js-nav-toggle" class="button button--nav-toggle  close">
          Toggle Navigation
          <span class="bar bar-1"></span>
          <span class="bar bar-2"></span>
          <span class="bar bar-3"></span>
        </button>
      </div>
    </div>

    {% if fn('is_front_page') %}
      <section class="owl-carousel--full">
        {% for slide in hero_slides %}
          <div class="carousel__item">
            <div class="hero-wrapper">
              <img src="{{ TimberImage(slide.image).src|resize(990, 550) }}" alt="{{ TimberImage(slide.image).alt }}">
            </div>

            <div class="header__content  container container--with-padding">
              <div class="header__carousel">
                <div class="carousel__header">
                  <h1 class="h1">{{ slide.headline }}</h1>
                  <p>{{ slide.description }}</p>
                  <p class="carousel__link">
                    <a href="{{ slide.call_to_action_url }}">{{ slide.call_to_action_text }}</a>
                    <span class="icon icon--arrow-right">
                      {% include '/static/images/svgs/arrow.svg' %}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>
    {% endif %}
    {% endblock %}
  </div>
  {% if fn('is_front_page') %}
  <div class="header__frill"></div>
  {% endif %}
</header>
