{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

		<header class="article__header">
			<div class="container container--with-padding">
				<h1 class="article__h1 h1">{{post.title}}</h1>
				<div class="article__header__content">
					{{post.content}}
				</div>
			</div>
		</header>

		<section class="article-content">

			{# EXAMPLE RECIPES
			 # Todo: Recipes CPT
			 # Will have identical tease.twig as events
			 # Below is example of single recipe view
			 #}



		</section>
	</article>
{% endblock %}