{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}  article  shaded shaded--grey">
		<div class="container container--with-padding back-link">
		  <span class="back-link__icon  icon icon--arrow-left">
		    {% include '/static/images/svgs/arrow.svg' %}
		  </span>
		  <a href="{{ fn('site_url') }}/">BACK HOME</a>
		</div>

		<section class="container shaded shaded--white">
			<section class="article__body">
				<section class="article__main">
					<header class="single-event__header">
					  <h2 class="h1 color--dark-blue">{{post.title}}</h2>
					</header>

					<div class="single-event__description">
						{{post.content}}
					</div>
				</section>
			  <aside class="article__sidebar">
			    <span class="sidebar__header">SUBMIT YOUR RECIPE!</span>

			    <div class="sidebar__content">
			      <ul class="list">
			        <li class="list__item">
		        		<a href="https://euphoriagvl.typeform.com/to/wirwo9" target="_blank">
		        			Click here to submit your recipe for the Healthy Lunchtime Throwdown by Sept. 7th!
		        		</a>
		        	</li>
			      </ul>
			    </div>
			  </aside>
			</section>
		</section>
	</article>
{% endblock %}
