{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }} {{ post.title|lower }}" id="post-{{post.ID}}">

		<header class="article__header">
			<div class="container container--with-padding">
				<h1 class="article__h1 h1">{{post.title}}</h1>
			</div>
		</header>
		<section class="article-content shaded shaded--grey">
			<br>
			<div class="container container--with-padding  shaded shaded--white">
				{{ post.content }}
			</div>
			<br>
		</section>
	</article>
{% endblock %}