{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" class="post-type-{{post.post_type}}  article  shaded shaded--grey">

	<div class="container container--with-padding back-link">
	  <span class="back-link__icon  icon icon--arrow-left">
	    {% include '/static/images/svgs/arrow.svg' %}
	  </span>
	  <a href="{{ fn('site_url') }}/">BACK HOME</a>
	</div>

	<section class="container shaded shaded--white">
		  <section class="article__body">
  		  <section class="article__main">
  		    <header class="single-event__header">
  		      <h2 class="h1 color--dark-blue">
  		        About euphoria
  		      </h2>
  		      <h3 class="h3 color--mid-blue">A MISSION. A VISION. A DEDICATION TO EXCELLENCE.</h3>
  		    </header>

  		    <div class="single-event__description">
  		    	{{post.content}}
  		    </div>
  		  </section>

  		  <aside class="article__sidebar">
  		    <span class="sidebar__header">GET INVOLVED:</span>

  		    <div class="sidebar__content">
  		      <ul class="list">
  		        <li class="list__item--title">BECOME A PARTNER</li>
  	        	<li class="list__item">For more information on becoming a sponsor please email us at: </li>
  	        	<li class="list__item"><a href="mailto:info@euphoriagreenville.com">info@euphoriagreenville.com</a></li>
  		      </ul>
  		    </div>

  				<div class="sidebar__content">
  		      <ul class="list">
  		        <li class="list__item--title">BECOME A VOLUNTEER</li>
  	        	<li class="list__item">For more information on becoming a volunteer please email us at: </li>
  	        	<li class="list__item"><a href="mailto:volunteer@euphoriagreenville.com">volunteer@euphoriagreenville.com</a></li>
  		      </ul>
  		    </div>
  		  </aside>
		  </section>

	</section>

	<section class="shaded shaded--white container">
		<section class="article__body">
			<div class="grid grid--halves">
				<div class="grid__item charity">
					<header class="single-event__header">
					  <h2 class="h1 color--dark-blue">
					    Charity
					  </h2>
					</header>

					<div class="single-event__description">
						{{post.get_field('charity_body')}}
					</div>
				</div>
				<div class="grid__item charitable-partners">
					<p class="h2 color--dark-blue">{{post.get_field('sidebar_heading')}}</p>
					<br>
          {% for partner in post.get_field('charitable_partner_logos') %}
            <img src="{{ partner.logo['sizes']['medium'] }}" alt="">
          {% endfor %}

					<br>
					<div class="dollars-given">
            {% for flexi in post.get_field('amount_given') %}
              {% if flexi.acf_fc_layout == 'amount_given' %}
                <p class='text'>{{flexi.heading}}</p>
                <p class='dollars'>${{flexi.dollar_amount}}</p>
              {% endif %}
            {% endfor %}
					</div>
				</div>
			</div>
		</section>
	</section>

	<section class="shaded shaded--white container staff">
		<section class="article__body">
			<header class="single-event__header">
			  <h2 class="h1 color--dark-blue">
			    euphoria Staff &amp; Board
			  </h2>
			  <h3 class="h3 color--mid-blue">STAFF</h3>
			</header>

			<div class="staff-members">
				{% for staffer in staff %}
				<div class="card card--landscape  card--with-image">
					<span
						class="card__image"
						style="background-image: url({{ staffer.thumbnail.src }})"
					>
						<span class="hidden-text">{{ staffer.name }}: {{ staffer.position }}</span>
					</span>

				  <div class="card__content">
				  	<h3 class="card__date h4">{{ staffer.position }}</h3>
				    <h1 class="card__title h1">{{ staffer.name }}</h1>
				    <div class="card__description no-clamp">
							{{ staffer.content }}
				    </div>
				    <a
							class="card__cta card__button button button--blue"
							href="mailto:{{ staffer.title|split(' ')[0] }}@euphoriagreenville.com"
						>CONTACT {{ staffer.title|split(' ')[0]|upper }}</a>
				  </div>
				</div>
				{% endfor %}
			</div>

			<section class="board-of-directors">
				<h3 class="h3 color--mid-blue">BOARD OF DIRECTORS</h3>
				<ul class="list list--inline">
					{% for member in board_of_directors %}
						<li class="list__item">
							<span class="color--blue">{{ member.board_member_name }}</span>, <span class="color--dark-blue">{{ member.board_member_business_or_title }}</span>
						</li>
					{% endfor %}
				</ul>
			</section>
		</section>
	</section>

</article>
{% endblock %}
