{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" class="post-type-{{post.post_type}}  article  shaded shaded--grey">

	<div class="container container--with-padding back-link">
	  <span class="back-link__icon  icon icon--arrow-left">
	    {% include '/static/images/svgs/arrow.svg' %}
	  </span>
	  <a href="{{ fn('site_url') }}/">BACK HOME</a>
	</div>

	<section class="container shaded shaded--white">
		  <section class="article__body">
  		  <section class="article__main">
  		    <header class="single-event__header">
            <h2 class="h1 color--dark-blue">
  		        Get Involved with euphoria
  		      </h2>
  		    </header>
  		    <div class="single-event__description">
  		    	{{post.content}}
  		    </div>
  		  </section>
		  </section>
	</section>
</article>
{% endblock %}
