{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" class="post-type-{{post.post_type}}  article  shaded shaded--grey">

	<div class="container container--with-padding back-link">
	  <span class="back-link__icon  icon icon--arrow-left">
	    {% include '/static/images/svgs/arrow.svg' %}
	  </span>
	  <a href="{{ fn('site_url') }}/">BACK HOME</a>
	</div>

	<section class="container shaded shaded--white">
		  <div class="">
		  	<img src="{{ post.get_field('images')[0].image }}" alt="Cool photo of Greenville, SC">
		  </div>

		  <section class="article__body">
  		  <section class="article__main">
  		    <header class="single-event__header">
  		      <h2 class="h1 color--dark-blue">
  		        WELCOME TO THE GREENVILLE EVERYONE'S TALKING ABOUT
  		      </h2>
  		    </header>

  		    <div class="single-event__description">
  		    	{{post.content}}
  		    </div>
  		  </section>

  		  <aside class="article__sidebar">
  		    <span class="sidebar__header">QUICK RESOURCES</span>

  		    <div class="sidebar__content">
  		      <ul class="list">
  		        <li class="list__item--title">PARKING IN GREENVILLE</li>
  	        	<li class="list__item">Sometimes it’s a bit tricky finding a good parking spot in our Downtown.</li>
  	        	<li class="list__item"><a href="http://www.greenvillesc.gov/513/Parking">Here’s an insider map to make your trip easy.</a></li>
  		      </ul>
  		    </div>

  				<div class="sidebar__content">
  		      <ul class="list">
  		        <li class="list__item--title">GREENVILLE LINKS:</li>
  	        	<li class="list__item">These are a few links to help you find more:</li>
  	        	<br>
  	        	<li class="list__item"><a href="http://www.visitgreenvillesc.com/">VisitGreenvillleSC</a></li>
  	        	<li class="list__item"><a href="http://www.greenvillesc.gov/">City of Greenville</a></li>
  	        	<li class="list__item"><a href="http://discoversouthcarolina.com/">Discover South Carolina</a></li>
  		      </ul>
  		    </div>
  		  </aside>
		  </section>

	</section>

	<section class="shaded shaded--white container">
		<section class="article__body">
			<section class="accomodations">

				<div class="accomodations__map">
					<p class="h2 color--dark-blue">OVERVIEW MAP OF GREENVILLE</p>
					<img src="{{ fn('site_url') }}/wp-content/themes/euphoria-2016/static/images/map/map-of-greenville.jpg" alt="Google Map of Greenville, SC">
				</div>

				<div class="accomodations__addresses">
					<header class="single-event__header">
					  <h2 class="h1 color--dark-blue">
					    Accommodations
					  </h2>
					</header>

					<div class="single-event__description">
						<p>If you’re traveling from out of town, we encourage you to book with our preferred hotel, The Hyatt Regency Greenville and our official airport sponsor, GSP International Airport.</p>
					</div>

					<div class="address">
						{% include '/static/images/svgs/map-pin.svg' %}
						<p><a href="http://greenville.regency.hyatt.com/en/hotel/home.html" class="location">The Hyatt Regency Greenville</a></p>
						<p>220 North Main Street</p>
						<p>Greenville, SC 29601</p>
						<p>Phone: 864-235-1234</p>
					</div>

					<div class="address">
						{% include '/static/images/svgs/map-pin.svg' %}
						<p><a href="http://www.gspairport.com/" class="location">GSP International Airport</a></p>
						<p>2000 GSP Drive</p>
						<p>Greer, SC 29651</p>
						<p>Phone: 864-877-7426</p>
					</div>

					<div class="accomodations__dt-hotels">
						<p class="h2 color--dark-blue">DOWNTOWN HOTELS</p>

						<div class="grid grid--halves">
							<div class="address grid__item">
								{% include '/static/images/svgs/map-pin.svg' %}
								<p><a href="http://www.westinpoinsettgreenville.com/" class="location">The Westin Poinsett</a></p>
								<p>120 South Main Street</p>
								<p>Greenville, SC 29601</p>
								<p>Phone: 864-421-9700</p>
							</div>

							<div class="address grid__item">
								{% include '/static/images/svgs/map-pin.svg' %}
								<p><a href="http://www.marriottcourtyardgreenville.com/" class="location">Courtyard Marriott Greenville Downtown</a></p>
								<p>50 West Broad Street</p>
								<p>Greenville, SC 29601</p>
								<p>Phone: 864-451-5700</p>
							</div>

							<div class="address grid__item">
								{% include '/static/images/svgs/map-pin.svg' %}
								<p><a href="http://www.hamptoninnandsuitesgreenville.com/" class="location">Hampton Inn and Suites</a></p>
								<p>River Place 171 River Place</p>
								<p>Greenville, SC 29601</p>
								<p>Phone: 864-271-8700</p>
							</div>

							<div class="address grid__item">
									{% include '/static/images/svgs/map-pin.svg' %}
									<p><a href="http://www.aloftgreenvilledowntown.com/" class="location">Aloft Greenville Downtown</a></p>
									<p>5 N Laurens St</p>
									<p>Greenville, SC 29601</p>
									<p>Phone: 864-297-6100</p>
								</div>
							</div>

						</div>
					</div>

				</div>

			</section>
		</section>
	</section>

	<section class="shaded shaded--white container">
		<section class="article__body">
			<header class="single-event__header">
			  <h2 class="h1 color--dark-blue w-75">
			    Things To Do In Greenville
			  </h2>
			</header>

			<div class="single-event__description">
				<p class="w-75">From mountain-biking to museums, there is plenty to do around Greenville and Upstate South Carolina. Browse these links for more information about Greenville and the State of South Carolina.</p>

				<br>

				<div class="grid grid--halves">
					<div class="grid__item">
						<ul class="list">
							<li class="list__item">
								<a href="http://www.visitgreenvillesc.com/">VisitGreenville SC</a>
							</li>
							<li class="list__item">
								<a href="http://www.greenvillesc.gov/">City of Greenville</a>
							</li>
							<li class="list__item">
								<a href="https://www.scprt.com/">South Carolina Parks, Recreation &amp; Tourism</a>
							</li>
							<li class="list__item">
								<a href="http://www.sciway.net/">South Carolina Information Highway</a>
							</li>
						</ul>
					</div>
					<div class="grid__item">
						<ul class="list">
							<li class="list__item">
								<a href="http://www.upcountrysc.com/">Discover Upcountry</a>
							</li>
							<li class="list__item">
								<a href="http://www.lifeingreenville.com/">Life in Greenville</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</section>

</article>
{% endblock %}
