{% extends "base.twig" %}

{% if post.terms|first == 'Ticket Packages' %}
{% set package = true %}
{% endif %}

{% if post.private_event == true %}
{% set private = true %}
{% endif %}

{% set tick_packs = post.terms('ticket-packages') %}


{% block content %}
<article id="post-{{post.ID}}" class="post-type-{{post.post_type}}  article  single-event  shaded shaded--grey">

	<div class="container container--with-padding back-link">
	  <span class="back-link__icon  icon icon--arrow-left">
	    {% include '/static/images/svgs/arrow.svg' %}
	  </span>
	  <a href="{{ fn('site_url') }}/events">BACK TO EVENTS &amp; TICKETS</a>
	</div>

	<section class="container shaded shaded--white">
		{% if post.get_field('event_images')|length > 1 %}
			<div class="owl-carousel--full">
				{% for item in post.get_field('event_images') %}
					<img class="carousel__item" src="{{ TimberImage(item.image).src|resize(1024) }}" alt="{{ item.image_title }}">
				{% endfor %}
			</div>
		{% elseif post.get_field('event_images')|length == 1 %}
			{% for item in post.get_field('event_images') %}
				<img class="carousel__item" src="{{ TimberImage(item.image).src|resize(1024) }}" alt="{{ item.image_title }}">
			{% endfor %}
		{% endif %}

		  <div class="article__body">
			  <section class="article__main">
			    <header class="single-event__header">
			      <h1 class="h1 ">
			        {{post.title}}
			      </h1>
			      <div class="single-event__meta">
			        <div class="single-event__date">

		        		{% for item in post.terms %}
		        	    {% if item == "Ticket Packages" %}
		        	    	{% set package = true %}
		        	    {% endif %}
		        		{% endfor %}

		        		{% if
		        			post.eztix_id == "437182" or
		        			post.eztix_id == "437184" or
		        			post.eztix_id == "440387" or
		        			post.eztix_id == "437186"
		        		%}
		        			{% set package = true %}
		        		{% endif %}

			        	{% if post.post_name == "hotel-ticket-packages-hyatt-regency-downtown-greenville" %}
			        		<h3 class="card__date h4">Thursday - Saturday
			        	{% elseif
			        		(post.post_name == "hotel-ticket-packages-aloft-hotel") or
			        		(post.post_name == "hotel-ticket-packages-hampton-inn-suites-downtown-riverplace") or
			        		(post.post_name == "hotel-ticket-packages-the-westin-poinsett") or
			        		(post.post_name == "hotel-ticket-packages-courtyard-marriott") or
			        		(post.post_name == "hotel-ticket-package-swamp-rabbit-inn") or
			        		(post.post_name == "hotel-ticket-package-swamp-rabbit-inn-deluxe") or
			        		(post.post_name == "festival-pass-headliner-pass")
			        	%}
			        		<h3 class="card__date h4">Friday - Sunday
			        	{% elseif post.post_name == "festival-passes-star-vip-pass" %}
			        		<h3 class="card__date h4">Thursday - Sunday
			        	{% elseif post.post_name == "festival-pass-vip-pass" %}
			        		<h3 class="card__date h4">Thursday - Sunday
			        	{% elseif post.post_name == "festival-pass-party-pass" %}
			        		<h3 class="card__date h4">Thursday - Saturday
			        	{% else %}
			        		<h3 class="card__date h4">{{ post.event_date|date("l, F d") }}
			        	{% endif %}

			        	{% if post.event_time %}
			        		&nbsp;•&nbsp; <span>{{ post.event_time }}</span>
			        	{% endif %}
			        	</h3>
			        </div>

			        {% if post.event_price %}
			        	{% if post.terms|first == 'Hotel and Ticket Packages' %}
			        		<p id="the-price" class="single-event__price">${{ post.event_price|number_format }}</p>
			        	{% else %}
			        		<p id="the-price" class="single-event__price">{{ post.event_price }}</p>
			        	{% endif %}
			        {% endif %}
			      </div>
			      <h2 class="h2" style="letter-spacing: 0;">
	  	      	{% if post.presenting_sponsor %}
	  		        <span class="small">presented by {{ fn('get_the_title', post.presenting_sponsor|first) }}</span>
	  	        {% endif %}
	  	        {% if post.supporting_sponsor %}
	  	        	<span class="small">supported by {{ fn('get_the_title', post.supporting_sponsor|first) }}</span>
	  	        {% endif %}
			      </h2>
			    </header>

			    <div class="single-event__description">
			    	{{post.content}}
			    </div>

			    <div class="grid grid--thirds tpb">
			    	{% if post.event_talent or post.event_media %}
			    		<div class="grid__item">
			    			<ul class="list">
			    				{% if post.event_talent %}
			    				<li class="list__item--title">Talent</li>
			    				{% for item in post.event_talent %}
	    				    <li class="list__item">
	    				    	<a href="{{ fn('get_permalink', item) }}">
	    				    		{{ fn('get_the_title', item) }}
	    				    	</a>
	    				    </li>
			    				{% endfor %}
			    				{% endif %}

			    				{% if post.event_media %}
			    				<li class="list__item--title">Media</li>
			    				{% for item in post.event_media %}
			    				    <li class="list__item">
			    				    	<a href="{{ fn('get_permalink', item) }}">
			    				    		{{ fn('get_the_title', item) }}
			    				    	</a>
			    				    </li>
			    				{% endfor %}
		    					{% endif %}
			    			</ul>
			    		</div>
		    		{% endif %}

	    	    {% set event_participants = post.get_field('event_participants') %}
	    	    {% if post.get_field('event_participants') %}
	    	    	<div class="grid__item">
	    	    		<ul class="list">
	    	    			<li class="list__item--title">Participants</li>
	    	    			{% for participant in event_participants %}
	    	    			    <li class="list__item">
	    	    			    	{% if participant.participant_url %}
	    	    			    		<a href="{{ participant.participant_url }}">{{ participant.participant }}</a>
	    	    			    	{% else %}
	    	    			    		{{ participant.participant }}
	    	    			    	{% endif %}
	    	    			    </li>
	    	    			{% endfor %}
	    	    		</ul>
	    	    	</div>
	    	    {% endif %}

	    	    {% set event_beverages = post.get_field('event_beverages') %}
	    	    {% if post.get_field('event_beverages') %}
	    	    	<div class="grid__item">
	    	    		<ul class="list">
	    	    			<li class="list__item--title">Beverages</li>
	    	    			{% for bevvie in event_beverages %}
	    	    			    <li class="list__item">
	    	    			    	{% if bevvie.beverage_url %}
	    	    			    		<a href="{{ bevvie.beverage_url }}">{{ bevvie.beverage }}</a>
	    	    			    	{% else %}
	    	    			    		{{ bevvie.beverage }}
	    	    			    	{% endif %}
	    	    			    </li>
	    	    			{% endfor %}
	    	    		</ul>
	    	    	</div>
	    	    {% endif %}

			    </div>

			  </section>

	  	  <aside class="article__sidebar">
	  	    {% if not private %}
                {% if post.sold_out == true %}
                    <span class="sidebar__cta button button--full button--blue not-link">SOLD OUT!</span>
                {% elseif post.on_sale_date %}
                    <span class="sidebar__cta button button--full button--blue not-link">
                        ON SALE {{ post.on_sale_date|date("F d")|upper }}
                    </span>
                {% else %}
                    <a
                            href="{{ post.eztix_url }}"
                            class="sidebar__cta button button--full button--blue"
                            {% if not package %}data-eztix-id="{{ post.eztix_id }}"{% endif %}
                    >
                        {% if package %}BUY PACKAGE NOW{% else %}ADD TICKET TO CART{% endif %}
                    </a>
                {% endif %}
            {% else %}
                <span class="sidebar__cta button button--full button--blue not-link">&nbsp;</span>
            {% endif %}

	  	    {% if post.event_venue %}
	  	    {% set this_venue = TimberPost(post.event_venue) %}
	  	    <div class="sidebar__content location">
	  	    	{% include '/static/images/svgs/map-pin.svg' %}
	  	      <ul class="list">
	  	        <li class="list__item--title">Location:</li>
	          	<li class="list__item">{{ this_venue.post_title }}</li>
	          	<li class="list__item">{{ this_venue.address }}</li>
	          	<li class="list__item">{{ this_venue.venue_city_st_zip }}</li>
	  	      </ul>
	  	    </div>
	  	    {% endif %}

	  			{% set details = post.get_field('more_details') %}
	  	    {% if details %}
	  	    <div class="sidebar__content">
	  	      <ul>
	  	        <li class="list__item--title">More Details:</li>
	  	        {% for detail in details %}
	  	        	<li class="list__item">{{ detail.detail }}</li>
	  	        {% endfor %}
	  	      </ul>
	  	    </div>
	  	    {% endif %}

	  	    {% if tick_packs %}
	  	    <div class="sidebar__content">
	  	      <ul>
	  	        <li class="list__item">
	  	        	This ticket is also included in the
	  	        	{% for item in tick_packs %}
	  	        		{% if loop.index < tick_packs|length and tick_packs|length > 1 %}
	  	        			<span>{{ item }}{% if tick_packs|length > 2 %}, {% endif %}</span>
	  	        		{% elseif loop.index == tick_packs|length %}
	  	        			<span>{% if tick_packs|length > 1 %}and {% endif %}{{ item }}.</span>
	  	        		{% endif %}
	  	        	{% endfor %}
	  	        </li>
	  	        <li class="list__item"><a href="{{ fn('get_site_url') }}/events#packages">Check out ticket packages here.</a></li>
	  	      </ul>
	  	    </div>
	  	    {% endif %}
	  	  </aside>
		  </div>

      {% set talent = post.event_talent %}
      {% if talent %}
		    <div class="single-event__talent">
		    	<div class="container container--with-padding  shaded  shaded--secondary  content--centered">
		    		<h2 class="h1">{{ post.title|upper }} TALENT</h2>
		    	</div>
		    	<div class="container container--with-padding">
		    		<ul class="list  grid grid--quarters">
		    			{% for item in post.event_talent %}
		    			    <li class="list__item">
		    			    	<a href="{{ fn('get_permalink', item) }}">
		    			    		{# {{ fn('get_the_title', item) }} #}
		    			    		{{ fn('get_the_post_thumbnail', item, ['300', '']) }}
		    			    	</a>
		    			    </li>
		    			{% endfor %}
		    		</ul>
		    	</div>
		    </div>
      {% endif %}

      {% set supporters = post.get_field('supporters') %}
      {% if supporters %}
		    <div class="single-event__sponsors">
		    	<div class="container container--with-padding  shaded  shaded--secondary  content--centered">
		    		<h2 class="h1">{{ post.title|upper }} SPONSORS</h2>
		    	</div>
		    	<div class="container container--with-padding">
		    		<ul class="list  grid grid--quarters">
		    			{% for item in supporters %}
		    			    {% for biz in item.supporter %}
		    			    	<li class="list__item  grid__item">
			    			    	<a href="{{ fn('get_post_meta', biz, 'url', true) }}" target="_blank">
			    			    		{{ fn('get_the_post_thumbnail', biz, 'supporter-grid-image') }}
			    			    	</a>
		    			    	</li>
		    			    {% endfor %}
		    			{% endfor %}
		    		</ul>
		    	</div>
		    </div>
      {% endif %}

	</section>

</article>

{# {% if event.length %}
<section class="shaded shaded--grey">
	<div class="container container--with-padding">
		<h2 class="h1  color--dark-blue">SUGGESTED TICKET PACKAGES</h2>
		<br>
		<div class="grid grid--halves grid--space-between grid--equal-heights js-equal-heights">
			{% for post in event %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</div>
	</div>
</section>
{% endif %} #}
{% endblock %}
