{% extends "base.twig" %}

{% block content %}
	<article id="post-{{post.ID}}" class="post-type-{{post.post_type}}  article  shaded shaded--grey">

		<div class="container container--with-padding back-link">
		  <span class="back-link__icon  icon icon--arrow-left">
		    {% include '/static/images/svgs/arrow.svg' %}
		  </span>
		  <a href="{{ fn('site_url') }}/">BACK HOME</a>
		</div>

		<section class="container shaded shaded--white">
      {% set image = post.get_field('image') %}
      {% if image %}
        <img class="carousel__item" src="{{ TimberImage(image|first).src }}" alt="{{ TimberImage(image|first).alt }}">
      {% endif %}

		  <section class="article__body">
  		  <section class="article__main">
  		    <header class="single-event__header">
  		      <h2 class="h1 color--dark-blue">
  		        {{post.title}}
  		      </h2>
  		      <h3 class="h3 color--mid-blue  uppercase">
              {% if post.article_publish_date %}
                {% set publish_date = post.article_publish_date|date %}
              {% else %}
                {% set publish_date = post.post_date|date %}
              {% endif %}
  		      	<span>By {{ post.article_author }}</span> <span>&bull;</span> {{ publish_date }}
  		      </h3>
  		    </header>

  		    <div class="single-event__description">
  		    	<div class="article-body">
  		    		{{post.content}}
  		    	</div>
  		    	<div class="article-categories">
  		    		<p class="color--dark-blue">CATEGORIES</p>
              <ul class="list list--inline">
                {% for item in post.categories %}
                  <li class="list__item">
                    <a class="uppercase" href="{{ item.link }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
  		    	</div>
  		    </div>
  		  </section>

  		  <aside class="article__sidebar">
          <div class="card__cta social container container--with-padding  shaded shaded--brand">
            <span>SHARE: </span>
            <a class="social__link twitter" href="https://twitter.com/home?status={{ post.title }}%20{{ fn('get_site_url') }}/{{ post.title|lower|replace(' ', '-') }}/">
              <svg class="social__svg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 28 28"><title>Logo: Twitter</title><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62c-3.122.162-6.22-.646-8.86-2.32 2.702.18 5.375-.648 7.507-2.32-2.072-.248-3.818-1.662-4.49-3.64.802.13 1.62.077 2.4-.154-2.482-.466-4.312-2.586-4.412-5.11.688.276 1.426.408 2.168.387-2.135-1.65-2.73-4.62-1.394-6.965C5.574 7.816 9.54 9.84 13.802 10.07c-.842-2.738.694-5.64 3.434-6.48 2.018-.624 4.212.043 5.546 1.682 1.186-.213 2.318-.662 3.33-1.317-.386 1.256-1.248 2.312-2.4 2.942 1.048-.106 2.07-.394 3.02-.85-.458 1.182-1.343 2.15-2.48 2.71z"/></svg>
            </a>
            <a class="social__link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ fn('get_site_url') }}/{{ post.title|lower|replace(' ', '-') }}/">
              <svg class="social__svg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 29 29"><title>Logo: Facebook</title><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg>
            </a>
          </div>
  		  </aside>
		  </section>

	</section>

	</article>
{% endblock %}
