{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" class="post-type-{{post.post_type}}  article  single-recipe  shaded shaded--grey">

	<div class="container container--with-padding back-link">
	  <span class="back-link__icon  icon icon--arrow-left">
	    {% include '/static/images/svgs/arrow.svg' %}
	  </span>
	  <a href="javascript:history.go(-1)">BACK TO RECIPES</a>
	</div>

	<section class="container shaded shaded--white">
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	</section>

</article>
{% endblock %}
