{% if post.terms|first == 'Ticket Packages' %}
{% set package = true %}
{% endif %}

{% if post.terms|first == 'Hotel and Ticket Packages' %}
{% set hotel = true %}
{% endif %}

{% if post.private_event == true %}
{% set private = true %}
{% endif %}

{% block content %}
	<div class="grid__item  card card--landscape  {% if post.thumbnail %}card--with-image{% endif %}">

	  {% if post.thumbnail %}
	  <span class="card__image" style="background-image: url({{ post.thumbnail.src|resize(600) }})">
	  	<span class="hidden-text">{{post.thumbnail.alt}}</span>
	  </span>
		{% endif %}

	  <div class="card__content">
	  	{% if post.post_name == "hotel-ticket-packages-hyatt-regency-downtown-greenville" %}
	  		<h3 class="card__date h4">
	  			<span>Thursday - Saturday</span><br>
	  			{% if post.event_time %}<span>{{ post.event_time }}</span>{% endif %}
	  		</h3>
	  	{% elseif
	  		(post.post_name == "hotel-ticket-packages-aloft-hotel") or
	  		(post.post_name == "hotel-ticket-packages-hampton-inn-suites-downtown-riverplace") or
	  		(post.post_name == "hotel-ticket-packages-the-westin-poinsett") or
	  		(post.post_name == "hotel-ticket-packages-courtyard-marriott") or
	  		(post.post_name == "hotel-ticket-package-swamp-rabbit-inn") or
	  		(post.post_name == "hotel-ticket-package-swamp-rabbit-inn-deluxe") or
	  		(post.post_name == "festival-pass-headliner-pass") or
	  		(post.post_name == "festival-pass-eat")
	  	%}
	  		<h3 class="card__date h4">
	  			<span>Friday - Sunday</span><br>
	  			{% if post.event_time %}<span>{{ post.event_time }}</span>{% endif %}
	  		</h3>
	  	{% elseif
	  		(post.post_name == "festival-pass-traveler")
	  	%}
	  		<h3 class="card__date h4">
	  			<span>Friday - Saturday</span><br>
	  		</h3>
	  	{% elseif
	  		(post.post_name == "festival-pass-listen")
	  	%}
	  		<h3 class="card__date h4">
	  			<span>Thursday - Friday</span><br>
	  		</h3>
	  	{% elseif
	  		(post.post_name == "festival-passes-star-vip-pass") or
	  		(post.post_name == "festival-pass-vip-pass") or
	  		(post.post_name == "vip-pass-both-dinners")
	  	%}
	  		<h3 class="card__date h4">
	  			<span>Thursday - Sunday</span><br>
	  			{% if post.event_time %}<span>{{ post.event_time }}</span>{% endif %}
	  		</h3>
	  	{% elseif post.post_name == "festival-pass-vip-pass" %}
	  		<h3 class="card__date h4">
	  			<span>Thursday - Sunday</span><br>
	  			{% if post.event_time %}<span>{{ post.event_time }}</span>{% endif %}
	  		</h3>
	  	{% elseif post.post_name == "festival-pass-party-pass" %}
	  		<h3 class="card__date h4">
	  			<span>Thursday - Saturday</span><br>
	  			{% if post.event_time %}<span>{{ post.event_time }}</span>{% endif %}
	  		</h3>
	  	{% else %}
	  		<h3 class="card__date h4">
	  			<span>{{ post.event_date|date("l, F d") }}</span><br>
	  			{% if post.event_time %}<span>{{ post.event_time }}</span>{% endif %}
	  		</h3>
	  	{% endif %}

	    {% if post.title %}
	    <h1 class="card__title h1">
	    	<a href="{{ post.link }}">
	    		{{ post.title }}
	    	</a>
	    </h1>
	    {% endif %}

	    {% if post.event_price and not private %}
	    <span class="card__price">

	    	{% if post.terms|first == 'Hotel and Ticket Packages' %}
	    		${{ post.event_price|number_format }}
	    	{% else %}
	    		{{ post.event_price }}
	    	{% endif %}

	    </span>
	    {% endif %}

	    {% if post.content %}
	    <h2 class="card__description">{{post.content}}</h2>
	    {% endif %}

	    <p class="card__link small"><a href="{{ post.link }}">VIEW MORE DETAILS</a></p>

			{% if not private %}

				{% if
					post.terms|first == 'Ticket Packages' or
					post.terms|first == 'Hotel and Ticket Packages' or
					post.eztix_id == "437182" or
					post.eztix_id == "437184" or
					post.eztix_id == "440387" or
					post.eztix_id == "437186"
				%}
					<a href="{{ post.eztix_url }}" class="card__cta card__button button button--blue">
			    	BUY PACKAGE NOW
			    </a>
			   	{% else %}
					{% if post.on_sale_date %}
						<span class="card__cta card__button button button--blue not-link">
							ON SALE {{ post.on_sale_date|date("F d")|upper }}
						</span>
					{% else %}
						<a href="{{ post.eztix_url }}"
						   class="card__cta card__button button button--blue"
						   data-eztix-id="{{ post.eztix_id }}">
							ADD TICKET TO CART
						</a>
					{% endif %}
				{% endif %}

			{% endif %}

	  </div>
	</div>
{% endblock %}
