{% block content %}
	{% if post.url %}
		<div class="grid__item" id="supporter--{{post.ID}}">
			<a href="{{post.url}}" target="_blank">
				<img src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}">
			</a>
		</div>
		{% else %}
		<div class="grid__item" id="supporter--{{post.ID}}">
			<img src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}">
		</div>
	{% endif %}
{% endblock %}