{% block content %}
	<div class="card card--landscape  {% if post.thumbnail %}card--with-image{% endif %}">

	  {% if post.thumbnail %}
	  <span class="card__image" style="background-image: url({{post.thumbnail.src}})">{{post.thumbnail.alt}}</span>
		{% endif %}

	  <div class="card__content">
	  	{% if post.event_date %}
	    <h3 class="card__date h4">{{post.event_date}}</h3>
	    {% endif %}
	    {% if post.title %}
	    <h1 class="card__title h1">{{post.title}}</h1>
	    {% endif %}
	    {% if post.event_price %}
	    <span class="card__price">{{post.event_price}}</span>
	    {% endif %}
	    {% if post.content %}
	    <h2 class="card__description">{{post.content}}</h2>
	    {% endif %}

	    <p class="card__link small"><a href="{{post.link}}">VIEW MORE DETAILS</a></p>

	    <button class="card__button shaded shaded--brand" data-eztix-id="{{post.eztix_id}}">ADD TICKET TO CART</button>
	  </div>
	</div>
{% endblock %}