{% block content %}
<section class="posts news-items {% if loop.index is odd %}shaded shaded--grey{% endif %}">
	<article class="container container--with-padding">
		<div class="card card--landscape  {% if post.thumbnail %}card--with-image{% endif %}">

		  {% if post.thumbnail %}
		  <span class="card__image" style="background-image: url({{post.thumbnail.src}})">{{post.thumbnail.alt}}</span>
			{% endif %}

		  <div class="card__content">
		  	{% if post.article_publish_date %}
		  	  {% set publish_date = post.article_publish_date|date %}
		  	{% else %}
		  	  {% set publish_date = post.post_date|date %}
		  	{% endif %}

		  	{% if post.article_author %}
		    <h3 class="card__date h4 uppercase">POSTED ON: {{ publish_date }} BY: {{ post.article_author }}</h3>
		    {% endif %}
		    {% if post.title %}
		    <h1 class="card__title h1"><a href="{{ post.link }}">{{post.title}}</a></h1>
		    {% endif %}
		    {% if post.event_price %}
		    <span class="card__price">{{post.event_price}}</span>
		    {% endif %}
		    {% if post.content %}
		    <h2 class="card__description">{{post.content}}</h2>
		    {% endif %}

		    <div class="card__link small">
		    	<p>Categories</p>
		    	<br>
		    	{% for item in post.categories %}
		    		<a href="{{ item.link }}">{{ item }}</a>
		    	{% endfor %}
		    </div>

		    <a href="{{ post.link }}" class="card__cta card__button shaded shaded--brand">READ THE FULL POST</a>
		  </div>
		</div>
	</article>
</section>
{% endblock %}