.carousel {
  &__item {
    height: 100%;
    margin: 0 auto;

    .featured-events & {
      width: 260px;

      @include mq(tablet) {
        width: 100%;
      }
    }

    @include mq(one-col) {
      & + & {
        margin-top: $spacer*2px;
      }
    }
  }

  &__header {
    p {
      line-height: 1.3;
    }
  }

  &__link {
    @extend %verlag--black;
    color: $euphoria-dark-blue;
    margin-top: 1em;
    text-align: right;
    white-space: nowrap;

    svg {
      polygon {
        fill: $white;
      }
    }
  }
}

$owl: owl;

.#{$owl} {

  &-carousel {
    margin: 0 auto;
    max-width: 1366px;
    overflow: visible;

    &--full {
      @include mq(tablet) {
        height: 550px;
      }

      &.#{$owl}-carousel {
        max-width: 1440px;
        overflow: hidden;
      }

      .#{$owl}__item {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  &-stage-outer.owl-height {
    height: 100% !important;
  }

  &-prev,
  &-next {
    background: {
      color: white;
      image: url('../images/svgs/arrow.svg');
      position: center center;
      repeat: no-repeat;
      size: percentage(16/57) percentage(27/57);
    }
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    height: 40px;
    width: 40px;
    transition: 175ms all ease-in-out;

    @include mq(two-col) {
      height: 57px;
      width: 57px;
    }
  }

  &-prev {
    box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
    left: 0;
    transform: rotate(180deg) translateY(50%) translateX(-12px);

    &:hover,
    &:focus {
      box-shadow: 0 -10px 20px rgba(0,0,0,0.23), 0 -6px 6px rgba(0,0,0,0.23);
      transform: rotate(180deg) translateY(50%) translateX(-10px);
    }

    &:active {
      transform: rotate(180deg) translateY(49%) translateX(-10px);
    }
  }

  &-next {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    right: 0;
    transform: translateY(-50%) translateX(-12px);

    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
      transform: translateY(-50%) translateX(-10px);
    }

    &:active {
      transform: translateY(-49%) translateX(-10px);
    }
  }
}


.item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}

.owl-stage {
  height: 100%;
}

.featured-events {
  .owl-item {
    opacity: .13;
    transition: 200ms opacity ease-in-out;

    &.active {
      opacity:1;
    }
  }
}
