.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.no-padding {
  padding: 0 !important;
}

.round {
  border-radius: 50%;
}

.hidden {
  &-text {
    color: transparent;
    font-size: 0;
    visibility: hidden;
  }

  &-sm {
    @include mq(one-col) {
      display: none;
    }
  }

  &-below-tablet {
    display: none;

    @include mq(tablet) {
      display: inherit;
    }
  }
}

.enlarge {
  font-size: 128%;
}

.color {
  &--white {
    color: white !important;
  }

  &--blue {
    color: $euphoria-blue !important;
  }

  &--mid-blue {
    color: $euphoria-mid-blue !important;
  }

  &--dark-blue {
    color: $euphoria-dark-blue !important;
  }
}

.content {
  &--centered {
    text-align: center !important;
  }
}

.uppercase {
  text-transform: uppercase;
}