@mixin mq($breakpoint) {
  $mq-one-col:   "(max-width: 500px)";
  $mq-mid-range: "(min-width: 501px) and (max-width: 899px)";
  $mq-two-col:   "(min-width: 501px)";
  $mq-tablet:    "(min-width: 768px)";
  $mq-desktop:   "(min-width: 900px)";
  $mq-full:      "(min-width: 1152px)";

  @if $breakpoint == one-col {
    @media #{$mq-one-col}  { @content; }
  }
  @else if $breakpoint == mid-range {
    @media #{$mq-mid-range}  { @content; }
  }
  @else if $breakpoint == two-col {
    @media #{$mq-two-col}  { @content; }
  }
  @else if $breakpoint == tablet {
    @media #{$mq-tablet}  { @content; }
  }
  @else if $breakpoint == desktop {
    @media #{$mq-desktop}  { @content; }
  }
  @else if $breakpoint == full {
    @media #{$mq-full}  { @content; }
  }
}
