a {
  color: inherit;
  text-decoration: none;

  &[href*="tel:"] {
    white-space: nowrap;
  }
}

p {
  line-height: 1.4;

  & + & {
    margin-top: $spacer*1px;
  }
}

strong {
  @extend %verlag--black;
}

.back-link {
  padding: $spacer*1.5px $spacer*1px $spacer*1px;

  a, span {
    color: $euphoria-dark-blue;
    display: inline-block;
    @extend %verlag--black;
    font: {
      size: 14px;
    }
    height: 15px;
    line-height: 15px;
    position: relative;
    vertical-align: middle;
  }

  span {
    top: 0px;
  }
}

.color {
  &--brand {
    color: $euphoria-blue !important;
  }
}

.small {
  @extend %verlag--bold;
  font-size: 80%;
}

.big {
  font-size: 150%;
}

.bold {
  @extend %verlag--black;
}

.h1, .h2, .h3, .h4 {
  @extend .bold;
  letter-spacing: 2px;
  line-height: 1.2;
}

.h1 {
  @include mq(one-col) {
    font-size: calc(18em/#{$base-font-size});
    margin-bottom: 0.5em;
  }

  @include mq(two-col) {
    font-size: calc(30em/#{$base-font-size});
  }
}

.h2 {
  font-size: calc(18em/#{$base-font-size});
}

.h3 {
  font-size: $base-font-size*1px;
}

.h4 {
  font-size: calc(14em/#{$base-font-size});
  margin-bottom: $spacer*1px;
}

.faq {
  h1, h2, h3, h4 {
    @extend .bold;
    letter-spacing: 2px;
    line-height: 1.2;
  }

  h1 {
    @include mq(one-col) {
      font-size: calc(18em/#{$base-font-size});
      margin-bottom: 0.5em;
    }

    @include mq(two-col) {
      font-size: calc(30em/#{$base-font-size});
    }
  }

  h2 {
    font-size: calc(18em/#{$base-font-size});
  }

  h3 {
    font-size: $base-font-size*1px;
  }

  h4 {
    font-size: calc(14em/#{$base-font-size});
    margin-bottom: $spacer*1px;
  }
}