$euphoria-blue:      #27bfea;
$euphoria-mid-blue:  #2377a9;
$euphoria-dark-blue: #00567b;
$white:              #fff;
$lightest-grey:      #f6f6f6;
$light-grey:         #dddddd;
$medium-grey:        #c9c9c9;
$dark-grey:          #989898;

$max-width: 1152;
$spacer: 18;

$base-font-size: 16;

%base-font {
  font-family: "Verlag A", "Verlag B", 'Helvetica Neue', 'Arial Narrow', sans-serif;
}

%verlag--book {
  @extend %base-font;
  font-weight: 400;
}

%verlag--bold {
  @extend %base-font;
  font-weight: 700;
}

%verlag--black {
  @extend %base-font;
  font-weight: 800;
}
